/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

%filter substitution
%define themeTransition background-color 0.1s cubic-bezier(.17,.67,.83,.67)
%define urlbarBreakoutExtend 2px

%include ../../../themes/shared/urlbar-searchbar.inc.css
%include ../../../themes/shared/urlbarView.inc.css
%include ../../../base/content/urlbar.inc.css

@import url("chrome://browser/content/urlbar.css");

:root {
  --identity-box-margin-inline: 4px;
  --identity-box-label-opacity: .8;

  --urlbar-min-height: 32px;
  --urlbar-icon-padding: 6px; /* (32px - 2px border - 2px padding - 16px icon) / 2 */
}

@supports not -moz-bool-pref("browser.proton.enabled") {
  :root {
    --focus-outline-width: 0;
    --identity-box-margin-inline: 3px;
    --identity-box-label-opacity: .6;
  }
}

@supports -moz-bool-pref("browser.proton.enabled") {
:root {
  --focus-outline-width: 2px;
  --focus-outline-color: currentColor;
  --focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);
}

@media not (prefers-contrast) {
  :root {
    --focus-outline-color: #0061E0;
  }

  :root:-moz-lwtheme-brighttext {
    --focus-outline-color: #00DDFF;
  }
}

@media (prefers-contrast) {
  :root {
    --urlbar-box-unfocused-bg-overlay: var(--urlbar-box-bg-overlay)
  }
}

%ifdef MOZ_WIDGET_COCOA
#win-buttonbox {
  display: none;
}
%else
#mac-buttonbox {
  display: none;
}
%endif
