/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /* XXX: should these (and all the other companion stuff for that matter) be
  expressed in em / some other unit? */
  --companion-width: 340px;
  --companion-min-width: 300px;
  --companion-max-width: 600px;
  --companion-background: var(--in-content-page-background);;
}

:root:not([companion]) #companion-box {
  display: none;
}

#PersonalToolbar,
#nav-bar-overflow-button,
#page-action-buttons,
#tracking-protection-icon-container,
#identity-box,
:root[companion] #companion-sidebar-button-win,
#nav-bar-customization-target > *:not(#urlbar-container, #profiler-button) {
  display: none;
  -moz-box-flex: 1;
}

#urlbar:not(.searchButton) > #urlbar-input-container > #proclient-search-icon-box {
  /* Ensure that when the user clicks on the contents of this box, it focuses the url bar */
  pointer-events: none;
  padding-inline: var(--urlbar-icon-padding);
  border-radius: var(--urlbar-icon-border-radius);
  fill: currentColor;
  fill-opacity: var(--urlbar-icon-fill-opacity);
  margin-inline-end: var(--identity-box-margin-inline);
}

#urlbar:not(.searchButton) > #urlbar-input-container > #proclient-search-icon-box #search-icon {
  -moz-context-properties: fill, fill-opacity;
  list-style-image: url(chrome://global/skin/icons/search-glass.svg);
}

@supports not -moz-bool-pref("browser.companion.tabdebugging") {
  #titlebar {
    display: none;
  }
}

#urlbar-container {
  min-width: 300px;
}

#navigator-toolbox {
  border-bottom: 0px none;
}

:root[companion] #companion-box,
:root[companion] #companion-titlebar {
  width: var(--companion-width);
  min-width: var(--companion-min-width);
  max-width: var(--companion-max-width);
}

:root[companion] #companion-box {
  border-inline-end: 1px solid var(--chrome-content-separator-color);
}

#companion-mac-buttonbox                {
  position: relative;
  appearance: auto;
  -moz-default-appearance: -moz-window-button-box;
  margin-left: 12px;
  height: 30px;
}

#companion-back-button {
  list-style-image: url("chrome://browser/skin/back.svg");
}

#companion-forward-button {
  list-style-image: url("chrome://browser/skin/forward.svg");
  display: none;
}

@supports -moz-bool-pref("browser.companion.globalhistorydebugging") {
  #companion-forward-button {
    display: -moz-box;
  }
}

#companion-reload-button {
  list-style-image: url("chrome://browser/skin/reload.svg");
}

#companion-copy-button {
  list-style-image: url("chrome://browser/content/companion/link.svg");
}

#companion-sidebar-button {
  list-style-image: url("chrome://browser/skin/sidebars-right.svg");
}

#companion-titlebar #companion-sidebar-button {
  margin-bottom: -14px;
  margin-left: 2px;
}

#companion-view-manager {
  min-width: 50px;
  -moz-box-flex: 1;
}

%ifdef MOZ_WIDGET_COCOA
#companion-window-controls {
  display: none;
}
%else
#companion-titlebar #companion-mac-buttonbox {
  display: none;
}
%endif

#companion-identity-box #identity-box[pageproxystate="invalid"] #identity-icon-box {
  display: none;
}

#companion-identity-box {
  width: 10px;
  min-width: 10px;
  margin-left: 6px;
}

#companion-identity-box #identity-box {
  width: 10px;
  min-width: 10px;
  margin-right: 0px;
}

#companion-identity-box #identity-icon-box {
  padding: 0px;
}

#companion-identity-box #identity-icon {
  width: 10px;
  height: 10px;
}

#companion-identity-box #identity-permission-box,
#companion-identity-box #notification-popup-box {
 display: none;
}

active-view-manager {
  display: inline-block;
}

#active-view-manager-overflow-panel {
  width: 39ch;
  font: menu;
}

#active-view-manager-overflow-panel > .subview-subheader {
  padding-block-start: var(--arrowpanel-menuitem-padding-block);
}

#active-view-manager-overflow-panel > .panel-subview-body {
  padding-block-end: var(--arrowpanel-menuitem-padding-block);
}
