/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /* XXX: should these (and all the other companion stuff for that matter) be
  expressed in em / some other unit? */
  --companion-width: 340px;
  --companion-min-width: 300px;
  --companion-max-width: 600px;
  --companion-background: var(--in-content-page-background);;
}

:root:not([companion]) #companion-box {
  display: none;
}

:root:not([chromehidden~="toolbar"]) {
  /* Make sure we have enough space for 4 buttons (sidebar, back,
     reload, copy), the river at max-width including margins,
     urlbar + horizontal margins, appmenu, and window controls. */
  min-width: calc((4 * 36px) + 580px + (350px + 10px) + 42px + var(--window-controls-width, 0px));
}

#PersonalToolbar,
#nav-bar-overflow-button,
#page-action-buttons,
#tracking-protection-icon-container,
#identity-box,
:root[companion] #companion-sidebar-button-win,
#nav-bar-customization-target > *:not(#urlbar-container, #profiler-button, toolbarspring:nth-of-type(1)) {
  display: none;
  -moz-box-flex: 1;
}

:root[companion][inDOMFullscreen] #companion-box {
  visibility: collapse;
}

#nav-bar:hover river-el::part(domain),
#nav-bar:hover top-view::part(domain),
#nav-bar:not(:hover) river-el::part(history),
#nav-bar:not(:hover) top-view::part(history) {
  display: none;
}

#urlbar:not(.searchButton) > #urlbar-input-container > #proclient-search-icon-box {
  /* Ensure that when the user clicks on the contents of this box, it focuses the url bar */
  pointer-events: none;
  padding-inline: var(--urlbar-icon-padding);
  border-radius: var(--urlbar-icon-border-radius);
  fill: currentColor;
  fill-opacity: var(--urlbar-icon-fill-opacity);
  margin-inline-end: var(--identity-box-margin-inline);
}

#urlbar:not(.searchButton) > #urlbar-input-container > #proclient-search-icon-box #search-icon {
  -moz-context-properties: fill, fill-opacity;
  list-style-image: url(chrome://global/skin/icons/search-glass.svg);
}

@supports not -moz-bool-pref("browser.companion.tabdebugging") {
  #titlebar {
    display: none;
  }
}

#urlbar-container {
  min-width: 350px;
  max-width: 450px;
}

#navigator-toolbox {
  border-bottom: 0px none;
}

:root[companion] #companion-box {
  width: var(--companion-width);
  min-width: var(--companion-min-width);
  max-width: var(--companion-max-width);
}

:root[companion] #companion-box {
  border-inline-end: 1px solid var(--chrome-content-separator-color);
}

#companion-mac-buttonbox                {
  position: relative;
  appearance: auto;
  -moz-default-appearance: -moz-window-button-box;
  margin-left: 12px;
}

#companion-back-button {
  list-style-image: url("chrome://browser/skin/back.svg");
}

#companion-forward-button {
  list-style-image: url("chrome://browser/skin/forward.svg");
  display: none;
}

@supports -moz-bool-pref("browser.companion.globalhistorydebugging") {
  #companion-forward-button {
    display: -moz-box;
  }
}

#companion-reload-button {
  list-style-image: url("chrome://global/skin/icons/reload.svg");
}

#companion-stop-button {
  list-style-image: url("chrome://global/skin/icons/close.svg");
}

#companion-reload-button[displaystop],
#companion-reload-button:not([displaystop]) + #companion-stop-button {
  display: none;
}

#companion-copy-button {
  list-style-image: url("chrome://browser/content/companion/link.svg");
}

#companion-snapshot-button {
  list-style-image: url("chrome://global/skin/icons/highlights.svg");
}

#companion-sidebar-button {
  list-style-image: url("chrome://browser/skin/sidebars-right.svg");
}

#companion-titlebar #companion-sidebar-button {
  margin-bottom: -14px;
  margin-left: 2px;
}

#companion-view-manager {
  min-width: 50px;
  -moz-box-flex: 1;
}

%ifdef MOZ_WIDGET_COCOA
#companion-window-controls {
  display: none;
}
%else
#companion-mac-buttonbox {
  display: none;
}
%endif

#companion-identity-box #identity-box[pageproxystate="invalid"] #identity-icon-box {
  display: none;
}

#companion-identity-box {
  width: 10px;
  min-width: 10px;
  margin-left: 6px;
}

#companion-identity-box #identity-box {
  width: 10px;
  min-width: 10px;
  margin-right: 0px;
}

#companion-identity-box #identity-icon-box {
  padding: 0px;
}

#companion-identity-box #identity-icon {
  width: 10px;
  height: 10px;
}

#companion-identity-box #identity-permission-box,
#companion-identity-box #notification-popup-box {
 display: none;
}

#active-view-manager-overflow-panel {
  width: 39ch;
  font: menu;
}

#active-view-manager-overflow-panel > .subview-subheader {
  padding-block-start: var(--arrowpanel-menuitem-padding-block);
}

#active-view-manager-overflow-panel > .panel-subview-body {
  padding-block-end: var(--arrowpanel-menuitem-padding-block);
}

#page-action-panel,
#page-action-panel-sections {
  max-width: 428px;
  height: 230px;
}

#page-action-panel-sections {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  padding-inline: 8px;
}

#page-actions-section {
  grid-template: 1fr / repeat(6, auto);
  display: grid;
  padding-bottom: 10px;
  border-bottom: 1px lightgray solid;
}

#page-actions-section > div {
  display: grid;
  grid-template: 75% 25% / 1fr;
  justify-items: center;
  padding-block: 15px 5px;
}

#page-actions-section > div > img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #F9F9FB;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

#page-actions-section > div > span {
  max-width: 70px;
  display: block;
  text-align: center;
  font-size: 10px;
}

#site-info-section {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  padding: 16px 8px;
}

#site-info-section > div {
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radis: 4px;
}

#site-info-title {
  font-size: 14px;
}
