/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --companion-width: 380px;
  --companion-background: var(--tabpanel-background-color);
}

:root:not([companion]) #companion-box,
:root:not([companion]) #companion-titlebar,
:root:not([companion]) #companion-toolbar {
  display: none;
}

:root[companion] #titlebar,
:root[companion] #TabsToolbar,
:root[companion] #PersonalToolbar,
:root[companion] #nav-bar-overflow-button,
:root[companion] #nav-bar-customization-target > *:not(#urlbar-container) {
  display: none;
}

:root[companion] #navigator-toolbox {
  border-bottom: 0px none;
}

#companion-box,
#companion-titlebar {
  width: var(--companion-width);
  background: var(--companion-background);
}

#companion-mac-buttonbox {
  position: relative;
  appearance: auto;
  -moz-default-appearance: -moz-window-button-box;
  margin-left: 12px;
  height: 30px;
}

#companion-back-button {
  list-style-image: url("chrome://browser/skin/back.svg");
}

#companion-reload-button {
  list-style-image: url("chrome://browser/skin/reload.svg");
}

#companion-undock-button {
  list-style-image: url("chrome://browser/content/companion/undock.svg");
}

#companion-sidebar-button {
  list-style-image: url("chrome://browser/skin/sidebars-right.svg");
}

#companion-titlebar #companion-sidebar-button {
  margin-bottom: -14px;
  margin-left: 2px;
}

#companion-view-manager {
  min-width: 50px;
}

#companion-page-title {
  font-size: 1.25rem;
}

#companion-page-domain {
  font-size: 0.7rem;
}
