/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.card {
  display: block;
  margin: 1em;
  background: #F9F9FB;
  border: 0.5px solid #AFAFBA;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
}

/* We need a wrapper div to do position: relative on to get a stacking context
 * for the position: absolute options-button. However, we need the options
 * panel to live outside that or else its absolute positioning logic gets
 * confused. */
.card-content-wrapper {
  position: relative;
}

.card.popupshowing,
.card:hover {
  background: #F9F9FB;
  border: 0.5px solid #CFCFD8;
}

.contents {
  display: flex;
  position: relative;
}

.contents, .contents:visited, .contents:hover {
  text-decoration: inherit;
  color: inherit;
}

.info {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.subtitle {
  display: flex;
  gap: 5px;
}

.title {
  font-size: 13px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-block-end: .5em;
}

.sub {
  color: #5B5B66;
  font-size: 12px;
}

.info-divider::after {
  content: "\00B7";
  font-size: 30px;
  line-height: 0;
  position: relative;
  top: 4px;
}

.card-image {
  background: var(--light-bg-color);
  border-radius: 8px 0 0 8px;
  flex-basis: 25%;
  background-size: cover;
  background-position: center;
  display: flex;
}

.card-image img.favicon {
  width: 16px;
  height: 16px;
  margin-inline-start: 8px;
  margin-block-end: 8px;
  align-self: end;
}

.nopreview img.favicon {
  width: 24px;
  height: 24px;
  align-self: center;
  margin: 0 auto;
  -moz-context-properties: fill;
  fill: #CFCFD8;
}

.snapshot .contents::before {
  content: " ";
  background: linear-gradient(269.67deg, var(--light-bg-color) 26.15%, rgba(240, 240, 244, 0) 72.84%);
  height: 100%;
  width: 50%;
  border-radius: 0 8px 8px 0;
  position: absolute;
  right: 0;
  display: none;
}

.options-button {
  position: absolute;
  right: 8px;
  top: calc(50% - 12px);
  display: none;
  padding: 0;
  margin: 0;
  min-width: unset;
  min-height: unset;
  width: 24px;
  height: 24px;
  background: var(--light-bg-color) no-repeat center url("chrome://global/skin/icons/more.svg");
}

.snapshot.card:is(:hover, :focus-within):not(.prevent-hover-panel) .options-button,
.popupshowing .options-button,
.snapshot.card:is(:hover, :focus-within):not(.prevent-hover-panel) .contents::before,
.popupshowing .contents::before {
  display: block;
}
