/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-height: 500px;
  min-width: 300px; /* var(--companion-width) from browser.css */
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  height: 100vh;
  width: 100vw;
  background-color: var(--in-content-page-background);
}

h2 {
  font-size: 1em;
  margin: 16px;
}

.companion-main {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
}

#companion-deck {
  overflow-y: auto;
  scrollbar-width: thin;
}

:root {
  --light-bg-color: #F0F0F4;
}

:root:-moz-lwtheme-brighttext {
  --light-bg-color: #42414D;
}

@media (-moz-toolbar-prefers-color-scheme: dark) {
  :root {
    --light-bg-color: #F0F0F4;
  }
}

.debug {
  display: none;
}

.debugUI .debug {
  display: block;
}

.debug-container {
  white-space: pre-line;
}

#events-placeholder {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  padding: 5px 0;
}

.app .switch-to-app {
  flex-shrink: 0;
}

.list-title {
  font-size: 1em;
  margin: 16px;
  font-weight: bold;
}

.list-subtitle {
  color: var(--in-content-deemphasized-text);
  margin-block: -16px 16px;
  margin-inline: 16px 0;
  font-size: 0.625em;
  padding: 0;
  font-weight: normal;
}

.email, .app-overview {
  display: flex;
  flex-direction: row;
  justify-content: start;
  cursor: default;
  padding: 5px;
}

.email {
  flex-direction: column;
}

.snapshot, .app-overview {
  align-items: center;
}

.app-overview img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  object-position: 50% 50%;
  align-self: center;
}

.app-overview .title {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
  margin: 0;
}

.keyframe .last-access,
.keyframe .category,
.keyframe .score {
  padding-left: 20px;
  margin: 0;
}

.keyframe {
  position: relative;
}

.keyframe[current]::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 20px;
  left: 0;
  top: 0;
  background: #0090ED;
  border-radius: 0px 4px 4px 0px;
}

#service-login.connected #service-signin {
  display: none;
}

#service-login.disconnected #service-signout {
  display: none;
}

[hidden] {
  display: none !important;
}

.favicon {
  height: 16px;
  width: 16px;
  padding-right: 5px;
}

#email {
  background-color: var(--light-bg-color);
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
}

.media.card {
  position: relative;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  gap: 4px;
  z-index: 2;
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.18);
  margin: 16px;
  margin-block-start: 0;
}

.media.card > * {
  margin: 0;
}

.media button {
  min-width: unset;
  background: none;
  z-index: 2;
  max-width: 24px;
  cursor: pointer;
  /* Quick method to make sure they are visible on contrasting backgrounds */
  filter: drop-shadow(0px 1px 1px black);
  fill: rgba(249, 249, 250, 1);
  -moz-context-properties: fill;
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
}

.media button:hover {
  background-color: transparent;
  opacity: .8;
}

.media .artwork {
  background-position: center;
  background-size: cover;
}

/* We could delete all this when we support filter-backdrop */
.media .artwork-background {
  background-color: var(--light-bg-color);
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  position: absolute;
  /* Give the background image an extra margin to smooth the blurring at the edge */
  height: calc(100% + 40px);
  width: calc(100% + 40px);
  margin: -20px 0 0 -20px;
  z-index: 1;
}

.media .metadata {
  color: rgba(249, 249, 250, 1);
  font-size: smaller;
  text-align: center;
  flex-grow: 1;
  z-index: 2;
  /* This text-shadow does not look great on white, we should replace */
  text-shadow: 0 0 1px hsl(0,0%,12%), 0 0 2px hsl(0,0%,12%);
}

.media .artist {
  opacity: 0.5;
}

/* The title is restricted to 2 lines */
.media .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.play-pause {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  background-color: var(--in-content-button-background);
  padding: 4px;
  z-index: 2;
}

.play-pause button {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  opacity: 1;
  background-color:rgba(255, 255, 255, .4);
}

.play-pause button:hover {
  background-color:rgba(255, 255, 255, .6);
}

.play-pause button[data-state=playing] {
  background-image: url("pause.svg");
}

.play-pause button[data-state=paused] {
  background-image: url("play.svg");
}

.media .mute {
  background-image: url("mute.svg");
}

.media .unmute {
  background-image: url("muted.svg");
}

.media .prev {
  background-image: url("next.svg");
  transform: scaleX(-1);
}

.media .next {
  background-image: url("next.svg");
}

.media .pip {
  background-image: url("chrome://global/skin/media/picture-in-picture-open.svg");
}

.event-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.from-date, .email-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-bottom: 2px;
}
.from {
  font-weight: bold;
  flex: 1;
}
.subject, .snippet {
  padding-top: 2px;
  font-size: smaller;
}

.subject {
  padding-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.snippet {
  opacity: 0.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card {
  background: none;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin: 0 0 8px;
  transition: none;
  padding: 0 16px;
  user-select: none;
}

.card:not(.card-no-hover):hover {
  cursor: pointer;
  box-shadow: none;
}

#email {
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
}

.email-title {
  flex: 1;
}

#inbox-link {
  cursor: pointer;
  opacity: 0.75;
  font-size: smaller;
}

e-global-nav-debugging h2 {
  margin: 16px;
  font-weight: bold;
}

.history-list {
  padding-left: 20px;
}

.history-entry {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.history-entry.pruned {
  color: rgba(100, 100, 100);
}

.history-entry.open {
  color: rgb(131, 30, 30);
}

.history-entry.visible {
  font-weight: bold;
}

.links div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.tab-button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--chrome-content-separator-color);
}

.tab-button {
  /* Overwrite the generic button styles */
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  -moz-outline-radius: 0;
  margin: 0;
}

.tab-button[selected] {
  color: var(--in-content-primary-button-background);
  border-color: var(--in-content-primary-button-background);
}

.browse {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0;
}

.browse button {
  padding-inline-start: 35px;
  text-align: start;
  background: center left 10px / 16px no-repeat url("chrome://global/skin/icons/defaultFavicon.svg");
  margin-inline: 0;
}

toolbarbutton.subviewbutton-back:hover,
.browse button:hover {
  background-color: var(--in-content-button-background-hover);
}

toolbarbutton.subviewbutton-back:hover:active,
.browse button:hover:active {
  background-color: var(--in-content-button-background-active);
}

.browse button.groups {
  background-image: url("chrome://global/skin/icons/defaultFavicon.svg");
}

.browse button.activities {
  background-image: url("chrome://activity-stream/content/data/content/assets/glyph-topsites-16.svg");
}

.browse button.shopping {
  background-image: url("resource://usercontext-content/cart.svg");
}

.browse button.downloads {
  background-image: url("chrome://browser/skin/downloads/downloads.svg");
}

.browse button.notifications {
  background-image: url("chrome://browser/skin/notification-icons/desktop-notification.svg");
}

.browse button.passwords {
  background-image: url("chrome://browser/skin/login.svg");
}

/*** PASSWORD PANEL ***/
toolbarbutton.subviewbutton-back {
  background-image: url(chrome://global/skin/icons/arrow-left.svg);
  background-repeat: no-repeat;
  margin-inline-start: 16px;
  width: 24px;
  height: 24px;
  background-position: center;
  border-radius: 4px;
}

#companion-login-browser {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.content,
#scroll-browse,
.passwords-panel {
  height: 100%;
  width: 100%;
}

#flow-reset-placeholder {
  text-align: center;
  margin: 1em;
  display: none;
}

[flow-reset] #flow-reset-placeholder {
  display: block;
}

[flow-reset] #now-content {
  display: none;
}
