/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-height: 500px;
  min-width: 380px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  height: 100vh;
  width: 100vw;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

:root[docked] #main-menubar,
:root[docked] #titlebar,
:root[docked] #awesomebar {
  display: none;
}

:root {
  --light-bg-color: #F0F0F4;
}

:root:-moz-lwtheme-brighttext {
  --light-bg-color: #42414D;
}

@media (-moz-toolbar-prefers-color-scheme: dark) {
  :root {
    --light-bg-color: #F0F0F4;
  }
}

#titlebar {
  appearance: auto;
  -moz-default-appearance: -moz-mac-vibrant-titlebar-dark;
  -moz-font-smoothing-background-color: -moz-mac-vibrant-titlebar-dark;
  -moz-window-dragging: drag;
  min-height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (-moz-windows-default-theme) {
  #titlebar {
    flex-direction: row-reverse;
  }
}

#awesomebar {
  margin: 10px;
  appearance: none;
  -moz-box-align: center;
}

#settings-button {
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: .6;
  list-style-image: url("chrome://browser/content/companion/companion-settings.svg")
}

#settings-button:hover {
  fill-opacity: .8;
}

#settings-button image {
  width: 16px;
  height: 16px;
}

#dock-button {
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: .6;
  list-style-image: url("chrome://browser/content/companion/dock.svg")
}

#dock-button:hover {
  fill-opacity: .8;
}

#dock-button image {
  width: 16px;
  height: 16px;
}

#sidebar-button {
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: .6;
  list-style-image: url("chrome://browser/skin/sidebars-right.svg")
}

#sidebar-button:hover {
  fill-opacity: .8;
}

#sidebar-button image {
  width: 16px;
  height: 16px;
}

#urlbar-background {
  border-radius: 4px;
}

#urlbar-icon-container {
  padding-left: 6px;
  padding-right: 8px;
  fill: currentColor;
  fill-opacity: .4;
}

.searchbar-engine-one-off-item {
  background-color: transparent;
}

#urlbar-icon {
  list-style-image: url(chrome://global/skin/icons/search-glass.svg);
}

#mac-buttonbox {
  appearance: auto;
  -moz-default-appearance: -moz-window-button-box;
  margin-left: 12px;
}

.titlebar-buttonbox,
.titlebar-button {
  appearance: none !important;
}

.titlebar-button {
  border: none;
  margin: 0 !important;
  padding: 8px 17px;
  -moz-context-properties: stroke;
  stroke: currentColor;
}

.titlebar-min {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
}

.titlebar-max {
  list-style-image: url(chrome://browser/skin/window-controls/maximize.svg);
}

.titlebar-restore {
  list-style-image: url(chrome://browser/skin/window-controls/restore.svg);
}

.titlebar-close {
  list-style-image: url(chrome://browser/skin/window-controls/close.svg);
}

.titlebar-button:not(.titlebar-close):hover {
  background-color: hsla(0,0%,100%,.22);
}
.titlebar-button:not(.titlebar-close):hover:active {
  background-color: hsla(0,0%,100%,.32);
}

.titlebar-close:hover {
  stroke: white;
  background-color: hsl(355,86%,49%);
}
.titlebar-close:hover:active {
  background-color: hsl(355,82%,69%);
}

.titlebar-button:not(:hover) > .toolbarbutton-icon:-moz-window-inactive {
  opacity: 0.5;
}

:root:not([sizemode=maximized]) .titlebar-restore,
:root[sizemode=maximized] .titlebar-max {
  display: none;
}

#scroll {
  flex: 1;
  overflow-y: auto;
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-direction: column;
  margin-top: 20px;
}

#content {
  flex: 1;
  padding: 5px 10px;
}

.app .switch-to-app {
  flex-shrink: 0;
}

.keyframe, .email, .pocket, .app-overview, .topsite {
  display: flex;
  flex-direction: row;
  justify-content: start;
  cursor: default;
  padding: 5px;
}

.email {
  flex-direction: column;
}

.keyframe, .app-overview, .topsite {
  align-items: center;
}

.keyframe img, .app-overview img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  object-position: 50% 50%;
}

.keyframe .title, .app-overview .title {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
  margin: 0;
}

.keyframe .last-access,
.keyframe .category,
.keyframe .score {
  padding-left: 20px;
  margin: 0;
}

#calendar-panel:empty {
  display: none;
}

#service-login {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 5px 10px;
}

#sticky {
  position: sticky;
  top: 0;
  background: var(--in-content-page-background);
  z-index: 1;
}

#calendar-link {
  padding: 0 10px;
  display: block;
}

#calendar-panel,
#email {
  padding: 5px 10px;
}

#scroll:not(.connected) .service-panel {
  display: none;
}

#scroll:not(.disconnected) #service-login {
  display: none;
}

.conference-icon {
  height: 16px;
  width: 16px;
  padding-right: 5px;
}

.event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 5px;
  cursor: default;
}

.event-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.event img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  object-position: 50% 50%;
}

.date {
  font-weight: 600;
  opacity: 0.5;
  font-size: smaller;
}

.summary, .subject, .title {
  text-overflow: ellipsis;
}

.conference {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  font-size: smaller;
}

button.conference, .btn {
  background-color: var(--buttons-primary-button-bgcolor, -moz-accent-color);
}

button.conference:hover, .btn:hover {
  background-color: var(--buttons-primary-button-hover-bgcolor, color-mix(in srgb, black 10%, -moz-accent-color));
}

button.conference:hover:active, .btn:hover:active {
  background-color: var(--buttons-primary-button-active-bgcolor, color-mix(in srgb, black 20%, -moz-accent-color));
}

.conference-label {
  color: var(--buttons-primary-button-color, -moz-accent-color-foreground) !important;
}

#settings {
  padding: 10px;
  position: absolute;
  z-index: 999;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--in-content-page-background);
  overflow-y: scroll;
}

#sliders {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: center;
  gap: 10px;
}

#settings label input {
  vertical-align: middle;
}

.range {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: subgrid;
}

.range label {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  text-align: right;
}

[hidden] {
  display: none !important;
}

.favicon {
  height: 16px;
  width: 16px;
  padding-right: 5px;
}

#email {
  background-color: var(--light-bg-color);
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
}

.topsites {
  display: flex;
  justify-content: space-between;
}

.topsite.card {
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 0;
}

.topsite-favicon {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--in-content-button-background);
  display: flex;
  justify-content: center;
}

.topsite.card:hover .topsite-favicon {
  background-color: var(--in-content-button-background-hover);
}

.topsite-favicon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  object-position: 50% 50%;
  align-self: center;
}

.topsites .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: smaller;
  width: 100%;
  opacity: .5;
  text-align: center;
  margin-block-start: .5em;
  margin-block-end: 0;
}

.media.card {
  position: relative;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  z-index: 2;
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.18);
}

.media button {
  min-width: unset;
  background: none;
  z-index: 2;
  max-width: 24px;
  cursor: pointer;
  /* Quick method to make sure they are visible on contrasting backgrounds */
  filter: drop-shadow(0px 1px 1px black);
  fill: rgba(249, 249, 250, 1);
  -moz-context-properties: fill;
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
}

.media button:hover {
  background-color: transparent;
  opacity: .8;
}

.media .artwork {
  background-position: center;
  background-size: cover;
}

/* We could delete all this when we support filter-backdrop */
.media .artwork-background {
  background-color: var(--light-bg-color);
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  position: absolute;
  /* Give the background image an extra margin to smooth the blurring at the edge */
  height: calc(100% + 40px);
  width: calc(100% + 40px);
  margin: -20px 0 0 -20px;
  z-index: 1;
}

.media .metadata {
  color: rgba(249, 249, 250, 1);
  font-size: smaller;
  text-align: center;
  flex-grow: 1;
  z-index: 2;
  /* This text-shadow does not look great on white, we should replace */
  text-shadow: 0 0 1px hsl(0,0%,12%), 0 0 2px hsl(0,0%,12%);
}

.media .artist {
  opacity: 0.5;
}

/* The title is restricted to 2 lines */
.media .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.play-pause {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  background-color: var(--in-content-button-background);
  padding: 4px;
  z-index: 2;
}

.play-pause button {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  opacity: 1;
  background-color:rgba(255, 255, 255, .4);
}

.play-pause button:hover {
  background-color:rgba(255, 255, 255, .6);
}

.play-pause button[data-state=playing] {
  background-image: url("chrome://activity-stream/content/data/content/assets/glyph-pause-12.svg");
}

.play-pause button[data-state=paused] {
  background-image: url("chrome://activity-stream/content/data/content/assets/glyph-play-12.svg");
}

.media .mute {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing.svg");
}

.media .unmute {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted.svg");
}

.media .prev {
  background-image: url("next.svg");
  transform: scaleX(-1);
}

.media .next {
  background-image: url("next.svg");
}

.media .pip {
  background-image: url("pip.svg");
}

.pocket-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pocket img {
  width: 158px;
  height: 96px;
  margin-right: 5px;
}

.pocket .excerpt {
  font-size: smaller;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.pocket .domain {
  font-size: smaller;
  color: gray;
}

.pocket p {
  width: 100%;
}

.pocket .preview {
  border-radius: 4px;
}

.pocket .title, .pocket .excerpt, .pocket .domain {
  padding-left: 5px;
  margin: 0;
}

.pocket .title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.calendar-title {
  text-transform: capitalize;
  font-weight: bold;
}

.event-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.from-date, .email-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-bottom: 2px;
}
.from {
  font-weight: bold;
  flex: 1;
}
.subject, .snippet {
  padding-top: 2px;
  font-size: smaller;
}

.subject {
  padding-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.snippet {
  opacity: 0.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card {
  background: none;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin: 0 0 8px;
  transition: none;
}

.card:not(.card-no-hover):hover {
  cursor: pointer;
  box-shadow: none;
}

#email {
  background-color: #F0F0F4;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
}

:root:-moz-lwtheme-brighttext #email {
  background-color: #42414D;
}

@media (-moz-toolbar-prefers-color-scheme: dark) {
  #email {
    background-color: #42414D;
  }
}

.email-title {
  flex: 1;
}

#inbox-link {
  cursor: pointer;
  opacity: 0.75;
  font-size: smaller;
}
