/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-height: 500px;
  min-width: 380px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  height: 100vh;
  width: 100vw;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#titlebar {
  appearance: auto;
  -moz-default-appearance: -moz-mac-vibrant-titlebar-dark;
  -moz-font-smoothing-background-color: -moz-mac-vibrant-titlebar-dark;
  -moz-window-dragging: drag;
  min-height: 33px;
}

#awesomebar {
  margin: 10px;
  appearance: none;
  -moz-box-align: center;
}

#settings-button {
  padding-left: 10px;
  fill: currentColor;
  -moz-context-properties: fill;
  list-style-image: url("chrome://browser/skin/preferences/category-general.svg")
}

#settings-button image {
  width: 32px;
  height: 32px;
}

#urlbar-background {
  border-radius: 4px;
}

#urlbar-icon-container {
  padding-left: 6px;
  padding-right: 8px;
  fill: currentColor;
  fill-opacity: .4;
}

.searchbar-engine-one-off-item {
  background-color: transparent;
}

#urlbar-icon {
  list-style-image: url(chrome://global/skin/icons/search-glass.svg);
}

#mac-buttonbox {
  appearance: auto;
  -moz-default-appearance: -moz-window-button-box;
  margin-left: 12px;
}

.titlebar-buttonbox,
.titlebar-button {
  appearance: none !important;
}

.titlebar-button {
  border: none;
  margin: 0 !important;
  padding: 8px 17px;
  -moz-context-properties: stroke;
  stroke: currentColor;
}

.titlebar-min {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
}

.titlebar-max {
  list-style-image: url(chrome://browser/skin/window-controls/maximize.svg);
}

.titlebar-restore {
  list-style-image: url(chrome://browser/skin/window-controls/restore.svg);
}

.titlebar-close {
  list-style-image: url(chrome://browser/skin/window-controls/close.svg);
}

.titlebar-button:not(.titlebar-close):hover {
  background-color: hsla(0,0%,100%,.22);
}
.titlebar-button:not(.titlebar-close):hover:active {
  background-color: hsla(0,0%,100%,.32);
}

.titlebar-close:hover {
  stroke: white;
  background-color: hsl(355,86%,49%);
}
.titlebar-close:hover:active {
  background-color: hsl(355,82%,69%);
}

.titlebar-button:not(:hover) > .toolbarbutton-icon:-moz-window-inactive {
  opacity: 0.5;
}

:root:not([sizemode=maximized]) .titlebar-restore,
:root[sizemode=maximized] .titlebar-max {
  display: none;
}

#scroll {
  flex: 1;
  overflow-y: auto;
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-direction: column;
  margin-top: 20px;
}

#content {
  flex: 1;
  padding: 5px 10px;
}

.app .switch-to-app {
  flex-shrink: 0;
}

.keyframe, .email, .pocket, .app-overview, .topsite {
  display: flex;
  flex-direction: row;
  justify-content: start;
  cursor: default;
  padding: 5px;
}

.email {
  flex-direction: column;
}

.keyframe, .app-overview, .topsite {
  align-items: center;
}

.keyframe img, .app-overview img, .topsite img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  object-position: 50% 50%;
}

.keyframe .title, .app-overview .title, .topsite .title {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
  margin: 0;
}

.keyframe .last-access,
.topsite .last-access,
.keyframe .category,
.keyframe .score {
  padding-left: 20px;
  margin: 0;
}

#service-login,
#calendar-panel {
  position: sticky;
  top: 0;
  background: var(--in-content-page-background);
}

#calendar-panel:empty {
  display: none;
}

#service-login {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 5px 10px;
}

.service-panel {
  padding: 5px 10px;
}

#scroll:not(.connected) .service-panel {
  display: none;
}

#scroll:not(.disconnected) #service-login {
  display: none;
}

.conference-icon {
  height: 16px;
  width: 16px;
  padding-right: 5px;
}

.event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 5px;
  cursor: default;
}

.event-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.event img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  object-position: 50% 50%;
}

.date {
  font-weight: 600;
  opacity: 0.5;
  font-size: smaller;
}

.summary, .subject, .title {
  text-overflow: ellipsis;
}

.conference {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  font-size: smaller;
}

button.conference {
  background-color: var(--buttons-primary-button-bgcolor, -moz-accent-color);
}

button.conference:hover {
  background-color: var(--buttons-primary-button-hover-bgcolor, color-mix(in srgb, black 10%, -moz-accent-color));
}

button.conference:hover:active {
  background-color: var(--buttons-primary-button-active-bgcolor, color-mix(in srgb, black 20%, -moz-accent-color));
}

.conference-label {
  color: var(--buttons-primary-button-color, -moz-accent-color-foreground) !important;
}

#settings {
  padding: 10px;
}

#sliders {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: center;
  gap: 10px;
}

#settings label input {
  vertical-align: middle;
}

.range {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: subgrid;
}

.range label {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  text-align: right;
}

[hidden] {
  display: none !important;
}

.favicon {
  height: 16px;
  width: 16px;
  padding-right: 5px;
}

.media.card {
  display: flex;
  align-items: center;
}

.media .artwork {
  max-height: 32px;
  max-width: 32px;
  padding-inline-end: 5px;
}

.media .title {
  max-height: 38px;
  overflow: hidden;
  flex-grow: 1;
}

.media .buttons {
  flex-shrink: 0;
}

.media button {
  min-width: auto;
}

.media-icon {
  height: 16px;
  color: rgba(249, 249, 250, 1);
  fill: currentColor;
  -moz-context-properties: fill;
}

.previous-track {
  transform: scaleX(-1);
}

.pocket-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pocket img {
  width: 158px;
  height: 96px;
  margin-right: 5px;
}

.pocket .excerpt {
  font-size: smaller;
}

.pocket .domain {
  font-size: smaller;
  color: gray;
}

.pocket p {
  width: 100%;
}

.pocket .preview {
  border-radius: 4px;
}

.pocket .title, .pocket .excerpt, .pocket .domain {
  padding-left: 5px;
  margin: 0;
}

.pocket .title {
  font-weight: bold;
}
.calendar-title {
  text-transform: capitalize;
  font-weight: bold;
}

.event-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.from-date {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-bottom: 2px;
}
.from {
  font-weight: bold;
  flex: 1;
}
.subject, .snippet {
  padding-top: 2px;
  font-size: smaller;
}

.subject {
  padding-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.snippet {
  opacity: 0.5;
  max-height: 3em;
  overflow: hidden;
}
