/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  height: 100vh;
  width: 100vw;
}

#titlebar {
  appearance: auto;
  -moz-default-appearance: -moz-mac-vibrant-titlebar-dark;
  -moz-font-smoothing-background-color: -moz-mac-vibrant-titlebar-dark;
  -moz-window-dragging: drag;
  min-height: 33px;
}

#awesomebar {
  padding: 10px;
  height: 40px;
  margin-bottom: 20px;
  appearance: none;
}

#urlbar {
  color: rgba(249, 249, 250, 1);
}

#urlbar-background {
  background-color: rgb(71, 71, 73);
  border-color: rgba(249, 249, 250, 0.2);
  border-radius: 4px;
}

#urlbar-icon-container {
  padding-left: 6px;
  padding-right: 8px;
  fill: currentColor;
  fill-opacity: .4;
}

.searchbar-engine-one-off-item {
  background-color: transparent;
}

#urlbar-icon {
  list-style-image: url(chrome://global/skin/icons/search-glass.svg);
}

#mac-buttonbox {
  appearance: auto;
  -moz-default-appearance: -moz-window-button-box;
  margin-left: 12px;
}

.titlebar-buttonbox,
.titlebar-button {
  appearance: none !important;
}

.titlebar-button {
  border: none;
  margin: 0 !important;
  padding: 8px 17px;
  -moz-context-properties: stroke;
  stroke: currentColor;
}

.titlebar-min {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
}

.titlebar-max {
  list-style-image: url(chrome://browser/skin/window-controls/maximize.svg);
}

.titlebar-restore {
  list-style-image: url(chrome://browser/skin/window-controls/restore.svg);
}

.titlebar-close {
  list-style-image: url(chrome://browser/skin/window-controls/close.svg);
}

.titlebar-button:not(.titlebar-close):hover {
  background-color: hsla(0,0%,100%,.22);
}
.titlebar-button:not(.titlebar-close):hover:active {
  background-color: hsla(0,0%,100%,.32);
}

.titlebar-close:hover {
  stroke: white;
  background-color: hsl(355,86%,49%);
}
.titlebar-close:hover:active {
  background-color: hsl(355,82%,69%);
}

.titlebar-button:not(:hover) > .toolbarbutton-icon:-moz-window-inactive {
  opacity: 0.5;
}

:root:not([sizemode=maximized]) .titlebar-restore,
:root[sizemode=maximized] .titlebar-max {
  display: none;
}

#service-login {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 5px 10px;
  display: none;
}

#services.connected {

}

#services.disconnected #service-login {
  display: flex;
}

#content {
  flex: 1;
  overflow-y: auto;
  padding: 5px 10px;
}

.keyframes h2 {
  position: sticky;
  top: 0;
}

.keyframe-list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 150px);
}

.keyframe {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  cursor: default;
}

.keyframe .top {
  align-self: start;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  padding-bottom: 5px;
}

.keyframe .top img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  object-position: 50% 50%;
}

.keyframe .middle {
  align-self: center;
}

.keyframe .middle img {
  width: 100px;
  height: 75px;
  border: 1px solid black;
  background: white;
  object-fit: contain;
  object-position: 50% 50%;
}

.keyframe .bottom {
  flex: 1;
  padding-top: 5px;
}

.keyframe .bottom p {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
