/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://browser/content/companion/lavender.css");

:root {
  /* Reset base font-size for rem measurements */
  font-size: 100%;

  /* Text Colors */
  --pine-text-color-primary: var(--colors-darkgrey-30);
  --pine-text-color-primary-dark: var(--colors-darkgrey-60);
  --pine-text-color-secondary-grey: var(--colors-darkgrey-10);
  --pine-text-color-deemphasized: var(--colors-lightgrey-120);
  --pine-text-color-link: var(--colors-lavender-90);
  --pine-text-color-error: var(--colors-red-10);
  --pine-text-color-disabled: var(--colors-lightgrey-80);

  /* Text Sizes */
  --pine-text-size-xxxs: 0.625rem; /* 10px */
  --pine-text-size-xxs: 0.6875rem; /* 11px */
  --pine-text-size-xs: 0.75rem; /* 12px */
  --pine-text-size-s: 0.875rem; /* 14px */
  --pine-text-size-base: 1rem; /* 16px */
  --pine-text-size-l: 1.125rem; /* 18px */
  --pine-text-size-xl: 1.25rem; /* 20px */
  --pine-text-size-xxl: 1.5rem; /* 24px */

  /* Font Weights */
  --pine-font-weight-base: 400;
  --pine-font-weight-med: 500;
  --pine-font-weight-semibold: 600;
  --pine-font-weight-bold: 700;
}

/* Heading */

.text-heading-l-semibold {
  color: var(--pine-text-color-primary);
  font-size: var(--pine-text-size-xxl);
  font-weight: var(--pine-font-weight-semibold);
  line-height: 1.167; /* 28px */
}

.text-heading-m-semibold {
  color: var(--pine-text-color-primary);
  font-size: var(--pine-text-size-base);
  font-weight: var(--pine-font-weight-semibold);
  line-height: 1.25; /* 20px */
}

.text-heading-m-med {
  color: var(--pine-text-color-primary);
  font-size: var(--pine-text-size-base);
  font-weight: var(--pine-font-weight-med);
  line-height: 1.25; /* 20px */
}

.text-heading-s {
  color: var(--pine-text-color-primary);
  font-size: var(--pine-text-size-xxs);
  font-weight: var(--pine-font-weight-base);
  line-height: 1.455; /* 16px */
  text-transform: uppercase;
}

/* Body */

.text-body-l-med {
  color: var(--pine-text-color-primary);
  font-size: var(--pine-text-size-s);
  font-weight: var(--pine-font-weight-med);
  line-height: 1.143; /* 16px */
}

.text-body-m-bold {
  color: var(--pine-text-color-primary);
  font-size: var(--pine-text-size-xs);
  font-weight: var(--pine-font-weight-bold);
  line-height: 1.333; /* 16px */
}

.text-body-m-med {
  color: var(--pine-text-color-primary);
  font-size: var(--pine-text-size-xs);
  font-weight: var(--pine-font-weight-med);
  line-height: 1.333; /* 16px */
}

.text-body-m {
  color: var(--pine-text-color-primary);
  font-size: var(--pine-text-size-xs);
  font-weight: var(--pine-font-weight-base);
  line-height: 1.333; /* 16px */
}

.text-body-s-med {
  color: var(--pine-text-color-primary);
  font-size: var(--pine-text-size-xxs);
  font-weight: var(--pine-font-weight-med);
  line-height: 1.455; /* 16px */
}

.text-body-s {
  color: var(--pine-text-color-primary);
  font-size: var(--pine-text-size-xxs);
  font-weight: var(--pine-font-weight-base);
  line-height: 1.455; /* 16px */
}

.text-body-xs {
  color: var(--pine-text-color-primary);
  font-size: var(--pine-text-size-xxxs);
  font-weight: var(--pine-font-weight-base);
  line-height: 1.6; /* 16px */
}
