/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --total-previews: 0;
  --transition-timing-function: cubic-bezier(0.20, 0.00, 0.00, 1.00);
  background: none;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ol {
  list-style-type: none;
  padding: 0;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  display: flex;
  overscroll-behavior-y: none;
}

li {
  scroll-snap-align: center;
  min-height: 100vh;
  min-width: 100vw;
  margin-block: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 500ms ease-in;
  transition-delay: 200ms;
}

figure {
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

figcaption,
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}

.preview-image {
  transition: scale 500ms var(--transition-timing-function);
  scale: 0.8;
  border-radius: 12px;
  box-shadow: 0px 4px 12px 0px rgba(0.23, 0.22, 0.27, 0.2);
}

body:is([invisible],[exiting]) .preview-image {
  scale: 1.0;
}

body:is([invisible], [exiting]) li:not([current="true"]) {
  opacity: 0;
  transition-duration: 0ms;
  transition-delay: 0ms;
}

body:is([invisible], [exiting]) li[current="true"] {
  z-index: 1;
}

.favicon {
  width: 16px;
  height: 16px;
  margin-inline-end: 8px;
}

nav {
  position: absolute;
  bottom: 0;
  transform: translateY(0);
  transition: transform 500ms var(--transition-timing-function);
  /**
   * We set pointer-events: none; here so that swipe gestures can
   * got through the majority of the <nav> element to the underlying
   * list. We then set pointer-events: all; on the individual controls
   * within nav.
   */
  pointer-events: none;
}

nav > button,
nav > input {
  pointer-events: auto;
}

body:is([invisible],[exiting]) nav {
  transform: translateY(100%);
}

button {
  appearance: none;
  border: 0;
  -moz-context-properties: fill;
  fill: var(--in-content-icon-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  border-radius: 50px;
  min-width: 45px;
  min-height: 20px;
  margin-inline: 12px;
}

#previous,
#next:dir(rtl) {
  background-image: url("chrome://global/skin/icons/arrow-left-12.svg");
}

#next,
#previous:dir(rtl) {
  background-image: url("chrome://global/skin/icons/arrow-right-12.svg");
}

#scrubber {
  min-width: 580px;
}

#scrubber::-moz-range-track {
  background-color: var(--in-content-button-background);
}

#scrubber::-moz-range-track,
#scrubber::-moz-range-thumb {
  border-radius: 50px;
  transform: scaleY(0.5);
  transition: transform 50ms var(--transition-timing-function);
  height: 8px;
}

#scrubber:hover::-moz-range-track {
  background-color: var(--in-content-button-background-hover);
}

#scrubber:hover::-moz-range-track,
#scrubber:hover::-moz-range-thumb {
  transform: scaleY(1);
}

#scrubber::-moz-range-thumb {
  border: 0;
  min-width: 16px;
  width: calc(100% / var(--total-previews));
  background-color: var(--in-content-primary-button-background);
}

#scrubber:hover::-moz-range-thumb {
  background-color: var(--in-content-primary-button-background-hover);
}

#scrubber:hover:active::-moz-range-thumb {
  background-color: var(--in-content-primary-button-background-active);
}

li:not(:first-child) {
  margin-inline-start: -8%;
}

li:not(:last-child) {
  margin-inline-end: -8%;
}
