/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-subtitle {
  color: var(--in-content-deemphasized-text);
  margin: -10px 0 10px 0;
  font-size: 1em;
  padding: 0;
  font-weight: normal;
}

.keyframe-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

:host(.pocket-list) .list-title {
  font-weight: bold;
  opacity: 0.9;
}

:host(.pocket-list) .list-subtitle {
  opacity: 0.75;
}
