/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --colors-cafe-01: #fffefc;
  --colors-cafe-02: #faf7f2;
  --colors-cafe-04: #f5f0e6;
  --inset-shadow-cafe: inset 0px 2px 4px rgba(242, 236, 225, 0.8);
  --outset-shadow-cafe: 0px 0px 2px rgba(122, 94, 63, 0.15);

  --colors-lavender-05: #cfbcf7;
  --colors-lavender-06: #b79bf2;
}
