<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="chrome://global/skin/in-content/common.css">
<link rel="stylesheet" href="chrome://browser/content/companion/companion.css">
<link rel="stylesheet" href="chrome://browser/content/companion/onboarding.css">
<script src="chrome://browser/content/companion/onboarding.js"></script>
</head>
<body>
<button id="dismiss"></button>
<article id="release-notes">
  <h2>What's new on</h2>
  <h1>flowstate</h1>
  <h3>April 18, 2022</h3>
  <h4>Introducing Flowstate: More moments of flow throughout your day</h4>
  <p>Flowstate is the application that helps you stay relaxed, calm and focused. You’ll begin seeing our new name infused throughout the product.</p>
  <h4>Bring past views to front and center</h4>
  <p>Simply interact with a prior view in the River to make it your active view. You no longer have to wait five seconds for views to change.</p>
  <h4>Stay in the flow with every calendar event</h4>
  <p>Get a quick read on what’s up next on your calendar so you can stay in the flow. Event cards are crisper and cleaner with updated styling.</p>
</article>
<footer><button class="primary" id="ok">Got it</button></footer>
</body>
</html>
