/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --body-height: 600px;
  --footer-height: 72px;
}

body {
  block-size: var(--body-height);
  inline-size: 700px;
  /* Overflow hidden to avoid double scroll bars. */
  overflow: hidden;
  /* Relatively positioned so we can absolutely position the 'x' button. */
  position: relative;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 51px;
  background-image: linear-gradient(88.97deg, #AD96DC -8.12%, #8076AD 14.67%, #22A7B2 48.67%);
  background-clip: text;
  color: transparent;
}

h2 {
  margin-block: 0;
  margin-inline: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #5B5B66;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 36px;
  color: #15141A;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-block-end: 0;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-block-start: 0;
}

footer {
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  block-size: var(--footer-height);
  border-block-start: 1px solid #E0E0E6;
  /* Using flex to center the button. */
  display: flex;
  align-items: center;
  background: white;
}

#release-notes {
  block-size: calc(var(--body-height) - var(--footer-height));
  margin-block-end: var(--footer-height);
  overflow: scroll;
  padding-block-start: 72px;
  padding-block-end: 0;
  padding-inline: 72px;
}

#ok {
  margin-inline: auto;
}

#dismiss {
  /* Unset default button styles. */
  border: none;
  margin: 0;
  margin-inline: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  background-color: transparent;
  text-transform: none;

  position: absolute;
  inline-size: 16px;
  block-size: 16px;
  inset-block-start: 30px;
  inset-inline-end: 30px;
  background-image: url("chrome://global/skin/icons/close.svg");
}
