<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="chrome://global/skin/in-content/common.css">
    <link rel="stylesheet" href="chrome://browser/content/companion/companion.css">
    <link rel="stylesheet" href="chrome://browser/content/companion/onboarding.css">
    <script src="chrome://browser/content/companion/onboarding.js"></script>
  </head>
  <body role="dialog" aria-labelledby="release-notes-title">
    <button id="dismiss" aria-label="Dismiss"></button>
    <article id="release-notes" role="document" tabindex="0">
      <h1 id="release-notes-title">What's new on <span class="application-name">flowstate</span></h1>
      <h2 class="release-notes-date">July 18, 2022</h2>
      <dl>
        <dt>Snapshots just got smarter</dt>
        <dd>We’re changing how snapshots appear in the companion. You’ll start seeing page suggestions based on how you use Flowstate, instead of your browsing history.</dd>
        <dt>String changes</dt>
        <dd>We audited and updated strings inherited from Firefox to give Flowstate a voice of its own.</dt>
        <dt>Accessibility Updates</dt>
        <dd>We’ve fixed several bugs affecting our Screen Reader and High Contrast Mode.</dd>
        <dt>Keep your pins separated</dt>
        <dd>When you pin the same views, Flowstate will now keep those views independent, instead of combining them.</dd>
        <dt>See relevant quick actions</dt>
        <dd>You’ll now see more relevant quick actions in the search bar based on the services you have connected.</dd>
      </dl>
    </article>
    <footer><button class="primary" id="ok" aria-label="Dismiss">Got it</button></footer>
  </body>
</html>
