<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src chrome:; object-src 'none'">
    <link rel="stylesheet" href="chrome://global/skin/in-content/common.css">
    <link rel="stylesheet" href="chrome://browser/content/companion/companion.css">
    <link rel="stylesheet" href="chrome://browser/content/companion/onboarding-flow.css">
    <link rel="localization" href="branding/brand.ftl" />
    <link rel="localization" href="browser/branding/brandings.ftl" />
    <link rel="localization" href="browser/branding/sync-brand.ftl"/>
    <link rel="localization" href="browser/browserPinebuild.ftl"/>
    <script defer src="chrome://browser/content/companion/onboarding-flow.js"></script>
  </head>
  <body>
    <onboarding-flow>
      <section
        data-forward-nav="true"
        data-backward-nav="false"
        data-card-name="Welcome"
        aria-role="tabpanel"
        class="onboarding-flow-card onboarding-bg-1 onboarding-welcome-card"
        >
        <div class="onboarding-card-text-container">
          <h2 data-l10n-id="onboarding-flow-welcome-title"></h2>
          <p class="center-text" data-l10n-id="onboarding-flow-welcome-text-1"></p>
          <p data-l10n-id="onboarding-flow-welcome-text-2"></p>
          <button
            data-action="navigate-forward"
            data-l10n-id="onboarding-flow-button-next"></button>
        </div>
      </section>
      <section
        data-forward-nav="false"
        data-backward-nav="true"
        data-card-name="Connect Account"
        aria-role="tabpanel"
        class="onboarding-flow-card onboarding-bg-1 onboarding-connect-account-card"
        hidden>
        <div class="onboarding-card-text-container">
          <h2 data-l10n-id="onboarding-flow-connect-title"></h2>
          <p class="center-text" data-l10n-id="onboarding-flow-connect-text"></p>
            <input type="email" id="email" name="email" placeholder="Email">
            <button
              data-action="initiate-fxa-flow"
              data-l10n-id="onboarding-flow-button-next"></button>
        </div>
      </section>
      <section
        data-forward-nav="true"
        data-backward-nav="false"
        data-card-name="Account Connected"
        aria-role="tabpanel"
        class="onboarding-flow-card onboarding-bg-1 onboarding-account-connected-card"
        hidden>
        <div class="onboarding-card-text-container">
          <h2 data-l10n-id="onboarding-flow-connected-title"></h2>
          <p data-l10n-id="onboarding-flow-connected-text"></p>
          <button
            data-action="navigate-forward"
            data-l10n-id="onboarding-flow-button-next"></button>
        </div>
      </section>
      <section
        data-forward-nav="true"
        data-backward-nav="true"
        data-card-name="Data Preferences"
        aria-role="tabpanel"
        class="onboarding-flow-card onboarding-bg-3 onboarding-data-prefs-card"
        hidden>
        <div class="onboarding-card-text-halvsies">
          <h2 data-l10n-id="onboarding-flow-data-prefs-title"></h2>
          <p data-l10n-id="onboarding-flow-data-prefs-text"><a href="#" target="_blank" data-l10n-name="link-learn-more"></a></p>
          <fieldset>
            <label>
              <span data-l10n-id="onboarding-flow-data-prefs-label-firefox-suggest"></span> <input type="checkbox" name="firefox-suggest" />
            </label>
            <label>
              <span data-l10n-id="onboarding-flow-data-prefs-label-better-browsing"></span> <input type="checkbox" name="better-browsing" />
            </label>
            <label>
              <span data-l10n-id="onboarding-flow-data-prefs-label-usage-statistics"></span> <input type="checkbox" name="usage-statistics" />
            </label>
          </fieldset>
          <button
            data-action="navigate-forward"
            data-l10n-id="onboarding-flow-button-next"></button>
        </div>
      </section>
      <section
        data-forward-nav="true"
        data-backward-nav="true"
        data-card-name="Ready to Go"
        aria-role="tabpanel"
        class="onboarding-flow-card onboarding-bg-2 onboarding-ready-card"
        hidden>
        <div class="onboarding-card-text-container">
          <h2 data-l10n-id="onboarding-flow-complete-title"></h2>
          <button data-action="complete-onboarding" data-l10n-id="onboarding-flow-button-complete"></button>
        </div>
      </section>
      <div class="onboarding-flow-breadcrumbs" aria-role="tablist"></div>
      <button
        class="onboarding-backward-nav"
        data-action="navigate-backward"
        aria-label="Go Back to Previous Card">&lt;</button>
      <button
        class="onboarding-forward-nav"
        data-action="navigate-forward"
        aria-label="Go Forward to Next Card">&gt;</button>
    </onboarding-flow>
  </body>
</html>
