<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="chrome://global/skin/in-content/common.css">
<link rel="stylesheet" href="chrome://browser/content/companion/companion.css">
<link rel="stylesheet" href="chrome://browser/content/companion/onboarding.css">
<script src="chrome://browser/content/companion/onboarding.js"></script>
</head>
<body>
<button id="dismiss"></button>
<article id="release-notes">
  <h2>What's new on</h2>
  <h1>Pro Client</h1>
  <h3>March 15, 2022</h3>
  <h4>Go Megaback with keyboard shortcuts</h4>
  <p>Speed back through your history using a keyboard shortcut. Use Command + Left Key on Mac, and Alt + Left Key on Windows.

  <h4>Move back through your individual views with keyboard shortcuts</h4>
  <p>Go back through your active views one-by-one using a keyboard shortcut. Use Control + Tab on both Mac and Windows.

</article>
<footer><button class="primary" id="ok">Got it</button></footer>
</body>
</html>
