/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.extended {
  display: none;
  justify-content: space-between;
  padding: 8px;
}

.expanded .card-image {
  display: flex;
  border-radius: 0 8px 0 0;
}

.expanded > .extended {
  display: flex;
}

.icon {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background: #FFFFFF;
  border: 1px solid #F0F0F4;
  position: absolute;
  transition: left 500ms;
  padding: 5px;
}

.icon:nth-child(1) { left: 0px; }
.icon:nth-child(2) { left: 15px; }
.icon:nth-child(3) { left: 30px; }
.icon:nth-child(4) { left: 45px; }

.icons:hover .icon:nth-child(1) { left: 0px; }
.icons:hover .icon:nth-child(2) { left: 42px; }
.icons:hover .icon:nth-child(3) { left: 84px; }
.icons:hover .icon:nth-child(4) { left: 126px; }

.icons {
  width: 5em;
  position: relative;
  flex-grow: 2;
}
