/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== xulscrollbars.css ==============================================
  == Styles used by XUL scrollbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* ::::: scrollbar ::::: */

scrollbar {
  appearance: auto;
  -moz-default-appearance: scrollbar-horizontal;
  cursor: default;
}

@media all and (-moz-overlay-scrollbars) {
  scrollbar[root="true"] {
    position: relative;
    z-index: 2147483647; /* largest positive value of a signed 32-bit integer */
  }

  scrollbar:not([active="true"]),
  scrollbar[disabled="true"] {
    visibility: hidden;
  }
}

scrollbar[orient="vertical"] {
  appearance: auto;
  -moz-default-appearance: scrollbar-vertical;
}

/* ::::: slider - a thumb is inside  ::::: */
slider {
  appearance: auto;
  -moz-default-appearance: scrollbartrack-horizontal;
}

slider[orient="vertical"] {
  appearance: auto;
  -moz-default-appearance: scrollbartrack-vertical;
}

/* ::::: thumb (horizontal) ::::: */

thumb[orient="vertical"] {
  appearance: auto;
  -moz-default-appearance: scrollbarthumb-vertical;
  min-height: 8px;
}

thumb[orient="horizontal"] {
  appearance: auto;
  -moz-default-appearance: scrollbarthumb-horizontal;
  min-width: 8px;
}

/* ::::: square at the corner of two scrollbars ::::: */

scrollcorner {
  appearance: auto;
  -moz-default-appearance: scrollcorner;
  width: 16px;
  cursor: default;
}

/* ..... increment .... */

scrollbarbutton[type="increment"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-right;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-down;
}

/* ..... decrement .... */

scrollbarbutton[type="decrement"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-left;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-up;
}

/* Experimental scrollbar styling changes to support MR2, which do not work
   in high contrast mode. */
@supports -moz-bool-pref("browser.companion.styleoverrides") {
  @media not (prefers-contrast) {
    /* These styles are pulled directly from the devtools
       floating-scrollbars-responsive-design stylesheet, except the selectors
       are not constrained to the responsive preview window. */
    scrollbar {
      appearance: none !important;
      position: relative;
      background-color: transparent;
      background-image: none;
      padding: 2px;
      border: none;
    }

    scrollbar[orient="vertical"] {
      margin-left: -10px;
      min-width: 10px;
      max-width: 10px;
    }

    scrollbar[orient="horizontal"] {
      margin-top: -10px;
      min-height: 10px;
      max-height: 10px;
    }

    scrollbar slider {
      appearance: none !important;
    }

    scrollbar thumb {
      appearance: none !important;
      background-color: rgba(0, 0, 0, 0.2);
      border-width: 0px !important;
      border-radius: 3px !important;
    }

    scrollbar scrollbarbutton,
    scrollbar gripper {
      display: none;
    }
    /* End of responsive scrollbar styles */

    /* Start of MR2 scrollbar styling, see MR2-178 for more */
    scrollbar[orient="vertical"] {
      margin-left: -16px;
      min-width: 16px;
      max-width: 16px;
    }

    scrollbar[orient="horizontal"] {
      margin-top: -16px;
      min-height: 16px;
      max-height: 16px;
    }

    thumb[orient="vertical"] {
      min-height: 16px !important;
    }

    thumb[orient="horizontal"] {
      min-width: 16px !important;
    }

    scrollbar thumb {
      opacity: 0.5 !important;
      border: 1px solid white;
      border-radius: 0 !important;
      background-color: #7F7F7F !important;
    }
    /* End of MR2 scrollbar styling */
  }
}
