/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  position: absolute;
  inset: 0;
  padding: 40px;
  font-size: 1.36em;
}

.contentCache {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.contentCacheTitle {
  display: flex;
}

.contentCacheTitleSpan {
  flex: 1;
}

.contentCacheTitleClear {
  font-size: 14px;
  margin: 10px 0;
}

.contentCacheInputWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

input.contentCacheInput {
  padding-left: 35px;
}

.contentCacheInputIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 17px;
  left: 15px;
  pointer-events: none;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 0.8;
}

.contentCacheResults {
  display: none;
}

.contentCacheResultsRow {
  margin: 38px 0;
}

.contentCacheResultsUrl {
  position: relative;
  margin: 4px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.contentCacheResultsTitle {
  display: block;
  font-size: 21px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0;
}

.contentCacheResultsFavicon {
  width: 16px;
  height: 16px;
  margin-inline-end: 3px;
  user-select: none;
}

.contentCacheResultsDescription {
  line-height: 1.6;
}

.contentCacheResultsUrlHost {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  margin: 4px;
}

.contentCacheResultsUrlSlash {
  margin-inline-end: 3px;
}

.contentCacheResultsUrlRest {
  opacity: 0.7;
}

.contentCacheHostMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background: var(--in-content-box-background);
  padding: 5px;
  border: 1px solid var(--in-content-border-color);
  box-shadow: 5px 5px 10px #0006, 5px 5px 14px #0003;
  border-radius: 6px;
  margin-top: 33px;
}

.contentCacheResultsUrlRow {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.contentCacheMoreOptions {
  position: relative;
  display: inline-block;
  background-color: transparent;
  background-image: url("chrome://global/skin/icons/more.svg");
  background-repeat: no-repeat;
  background-position: center;
  -moz-context-properties: fill;
  fill: currentColor;
  min-width: 0;
  width: 30px;
  height: 30px;
  margin-inline: 0;
  border-radius: 30px;
  z-index: 0;
}

.contentCacheMoreOptionsMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background: var(--in-content-box-background);
  padding: 5px;
  border: 1px solid var(--in-content-border-color);
  box-shadow: 5px 5px 10px #0006, 5px 5px 14px #0003;
  border-radius: 6px;
  margin-top: 33px;
  top: 0;
  right: 0;
  min-width: 200px;
}
