/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.w3.org/1999/xhtml");

.textrecognition {
  position: absolute;
  overflow: clip;

  /* Prevent unwanted style inheritance. */
  font: normal normal normal 100%/normal sans-serif;
  text-align: left;
  white-space: normal;
}

canvas {
  position: absolute;
  user-select: none;
  inset: 0;
}

.textrecognitionText {
  /* The text is positioned in the widget logic. */
  position: absolute;
  transform-origin: 0 0;
  color: transparent;
  white-space: nowrap;
}

.textrecognitionCluster {
  /* Clusters should not be used for positioning. */
  position: absolute;
  outline: 1px solid red;
  margin: 0;
  padding: 0;
  display: block;
}
