%if 0
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
%endif
    --in-content-page-background: #2A2A2E;
    --in-content-page-color: rgb(249, 249, 250);
    --in-content-deemphasized-text: var(--grey-40);

    --in-content-box-background: #202023;
    --in-content-box-border-color: rgba(249,249,250,0.2);

    --in-content-button-background: rgba(249,249,250,0.1);
    --in-content-button-background-hover: rgba(249,249,250,0.15);
    --in-content-button-background-active: rgba(249,249,250,0.2);

    --in-content-primary-button-text-color: rgb(255,255,255);
    --in-content-primary-button-background: var(--blue-60);
    --in-content-primary-button-background-hover: var(--blue-70);
    --in-content-primary-button-background-active: var(--blue-80);

    --in-content-accent-color: var(--blue-40);
    --in-content-accent-color-active: var(--blue-50);
    --in-content-link-color: var(--blue-40);
    --in-content-link-color-hover: var(--blue-50);
    --in-content-link-color-active: var(--blue-60);
    --in-content-link-color-visited: var(--blue-40);

    --in-content-table-background: #202023;
    --in-content-table-header-background: #002b57;
