/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  counter-reset: hidden-sum;
}

#active-view-manager {
  display: flex;
  padding-block: 5px;
  width: 550px;
  overflow: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: none;
}

#active-view-manager > .overflow {
  display: none;
  border-radius: 50%;
  margin: 10px;
  border: 0;
  min-height: 0;
}

#active-view-manager > .overflow:after {
  content: counter(hidden-sum);
}

/**
 * The n + 7 here is because we're counting from the end of the
 * #active-view-manager, and we currently want to have 1 "top active view"
 * and 5 maximum items in the River. That's 6 visible items. That means we
 * want collapse any view-el's from the 7th index-from-the-end to the
 * start.
 */
#active-view-manager view-el:nth-last-of-type(n + 7) {
  visibility: collapse;
  counter-increment: hidden-sum;
}

#active-view-manager view-el:nth-last-of-type(n + 7) ~ .overflow {
  display: unset;
  order: -1;
}

#active-view-manager view-el {
  margin-inline-start: 0;
}

#active-view-manager:hover view-el {
  transition: margin-inline-start 160ms ease-out;
}

/**
 * This next rule makes it so that if we're showing the overflow menu,
 * that we should also try overlapping the non-active view-el's (with
 * the exception of the first item after the overflow button, since we
 * don't want it to overlap the overflow button.
 */
#active-view-manager:not(:hover) view-el:nth-last-of-type(n + 7) ~ view-el:not([active="true"]):not(:nth-last-of-type(6)) {
  margin-inline-start: -30px;
}

/**
 * A bit of hackery here to make it so that when an active view-el is
 * in the middle of the River, any view-el's after it don't overlap it.
 */
#active-view-manager:not(:hover) view-el:nth-last-of-type(n + 7) ~ view-el[active="true"] + view-el {
  margin-inline-start: 0px !important;
}
