/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

active-view-manager {
  display: flex;
  padding-block: 5px;
  max-width: 450px; 
  align-items: center;
}

#overflow {
  border-radius: 50%;
  min-height: 0;
  -moz-window-dragging: no-drag;
}
