/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#pinned-views[hidden] {
  display: none;
}

#pinned-views {
  display: flex;
  background-color: #F0F0F4;
  border-radius: 100px;
  padding: 5px;
}
