/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#pinned-views[hidden] {
  display: none;
}

#pinned-views {
  display: flex;
  border: 1px dashed var(--button-active-bgcolor);
  border-radius: 100px;
  padding: 3px;
  align-items: center;
}

#pinned-views[hasviews] {
  background-color: var(--toolbar-field-background-color);
  border-color: var(--toolbar-field-background-color);
  border-style: solid;
}

#pin-icon {
  -moz-context-properties: fill;
  fill: var(--toolbarbutton-icon-fill);
  margin-inline: 9px 10px;
  margin-block: 10px;
}

view-group[dragging] {
  display: none;
}

view-group[draggingover],
#pin-icon[draggingover] {
  border-inline-end: 32px solid transparent;
}
