/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  display: flex;
  align-items: center;
  --light-bg-color: #F0F0F4;
}

:host:-moz-lwtheme-brighttext {
  --light-bg-color: #42414D;
}

#river {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  background-color: var(--light-bg-color);
  padding: 5px;
  padding-inline-end: 0;
  border-start-start-radius: 25px;
  border-end-start-radius: 25px;
}

#river:not([containsActive]) {
  padding-inline-end: 5px;
  border-start-end-radius: 25px;
  border-end-end-radius: 25px;
}

#river[containsActive]::after {
  border-inline-start: 1px solid var(--button-hover-bgcolor);
  margin-inline-start: 12px;
  content: "";
  /* When hovering the river, view-group icons will expand. Put the border on
     top of the icons so it looks like they move behind the available space. */
  z-index: 1;
}

#river[hidden] {
  visibility: hidden;
  min-height: 32px;
}

#river[hidden] + view-group[top] {
  border-start-start-radius: 25px;
  border-end-start-radius: 25px;
}

#river {
  --river-collapse-amount: 16px;
  overflow: hidden;
}

.view-groups-wrapper {
  display: flex;
}

.view-groups-wrapper > view-group:not(:first-of-type) {
  margin-inline-start: calc(var(--river-collapse-amount) * -1);
}

.view-groups-wrapper > view-group {
  transition: translate 150ms cubic-bezier(.66,.61,.43,1.41);
}
.view-groups-wrapper > view-group::part(icon-container) {
  transition: scale 100ms;
}
.view-groups-wrapper > view-group:hover::part(icon-container) {
  scale: 1.25;
}

.view-groups-wrapper:hover > view-group:not(:hover) {
  translate: calc(-1 * var(--river-collapse-amount));
}
.view-groups-wrapper:not(:hover) > view-group[active] ~ view-group,
.view-groups-wrapper:hover > view-group:hover ~ view-group {
  translate: calc(1 * var(--river-collapse-amount));
}
.view-groups-wrapper > view-group {
  /* The icons will clip through each other as they scale/translate. Giving them
     all the same z-index fixes that. */
  z-index: 0;
}

view-group[top] {
  background-color: var(--light-bg-color);
  border-start-end-radius: 25px;
  border-end-end-radius: 25px;
  padding-block: 5px;
  padding-inline-start: 12px;
}

}
