/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  display: flex;
  align-items: center;
  border-radius: 9999px;
  outline: 1px solid var(--avm-river-outline-color);
}

#river {
  display: flex;
  padding: 4px;
  margin-inline-end: 0;
  padding-inline-end: 0;
  border-start-start-radius: 25px;
  border-end-start-radius: 25px;
  --river-collapse-amount: 16px;
  overflow: hidden;
}

#river-overflow-button {
  border-radius: 9999px;
  border: 1px solid var(--avm-button-border-color);
  background-color: var(--avm-button-bgcolor);
  width: 24px;
  height: 24px;
  margin-inline-start: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}

#river-overflow-button:hover {
  background-color: var(--avm-button-hover-bgcolor);
}

#river-overflow-button:active {
  background-color: var(--avm-button-active-bgcolor);
}

#river-overflow-button[hidden] {
  display: none;
}

#river:not([containsActive]) {
  padding-inline-end: 5px;
  border-start-end-radius: 25px;
  border-end-end-radius: 25px;
}

#river[containsActive]::after {
  margin-inline-start: 12px;
  content: "";
  /* When hovering the river, view-group icons will expand. Put the border on
     top of the icons so it looks like they move behind the available space. */
  z-index: 1;
}

#river[hidden],
view-group[top][hidden] {
  display: none;
  padding: 0;
  margin: 0;
}

.view-groups-wrapper {
  display: flex;
}

@media (hover: hover) and (prefers-reduced-motion: no-preference) and (not (prefers-contrast)) {
  .view-groups-wrapper > view-group:not(:first-of-type) {
    margin-inline-start: calc(var(--river-collapse-amount) * -1);
  }

  .view-groups-wrapper > view-group:hover::part(icon-container) {
    scale: 1.25;
  }

  .view-groups-wrapper:hover > view-group:not(:hover) {
    translate: calc(-1 * var(--river-collapse-amount));
  }

  .view-groups-wrapper:not(:hover) > view-group[active] ~ view-group,
  .view-groups-wrapper:hover > view-group:hover ~ view-group {
    translate: calc(1 * var(--river-collapse-amount));
  }
}

.view-groups-wrapper > view-group {
  transition: translate 150ms cubic-bezier(.66,.61,.43,1.41);
}
.view-groups-wrapper > view-group::part(icon-container) {
  transition: scale 100ms;
}
.view-groups-wrapper > view-group {
  /* The icons will clip through each other as they scale/translate. Giving them
     all the same z-index fixes that. */
  z-index: 0;
}

view-group[top] {
  padding: 4px;
}

#river-overflow-button:focus-visible,
view-group:focus-visible {
  outline: 2px solid var(--colors-border-focus);
}

view-group:focus-within::part(history) {
  display: flex;
}

view-group:focus-within::part(domain) {
  display: none;
}

#river:not([hidden]) + view-group[top] {
  padding-inline-start: 12px;
  margin-inline-start: 0;
}

#river[hidden] + view-group[top] {
  border-start-start-radius: 25px;
  border-end-start-radius: 25px;
}
