/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  display: flex;
  align-items: center;
  --light-bg-color: #F0F0F4;
}

:host:-moz-lwtheme-brighttext {
  --light-bg-color: #42414D;
}

#river {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  background-color: var(--light-bg-color);
  padding: 5px;
  padding-inline-end: 0;
  border-start-start-radius: 25px;
  border-end-start-radius: 25px;
}

#river::after {
  border-inline-start: 1px solid var(--button-hover-bgcolor);
  margin-inline-start: 12px;
  content: "";
}

#river[hidden] {
  visibility: hidden;
  min-height: 32px;
}

#river[hidden] + view-group[top] {
  border-start-start-radius: 25px;
  border-end-start-radius: 25px;
}

#river:hover > view-group {
  transition: margin-inline-start 160ms ease-out;
}

#river:not(:hover) > view-group:not(:first-of-type) {
  margin-inline-start: -16px;
}

/**
 * A bit of hackery here to make it so that when an active view-el is
 * in the River, any view-group's after it don't overlap it.
 */
view-group[active] + view-group,
view-group[active]:not([top]) {
  margin-inline-start: 0px !important;
}

view-group[top] {
  background-color: var(--light-bg-color);
  border-start-end-radius: 25px;
  border-end-end-radius: 25px;
  padding-block: 5px;
  padding-inline-start: 12px;
}

view-group[top]::part(label-container) {
  line-height: 16px;
  white-space: nowrap;
  width: 200px;
}

view-group[top]::part(title) {
  font-size: 1.25rem;
}
