/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#top-view {
  width: 250px;
  height: 50px;
  background-color: gray;
  padding: 5px;
  margin-inline: 5px;
  border-radius: 2px;
}

.top-view-title {
  overflow: hidden;
  text-overflow: ellipsis;
}
