/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.view-el {
  display: flex;
  -moz-window-dragging: no-drag;
}

.view-el {
  align-items: center;
  justify-content: center;
}

.view-el[active="true"] {
  width: 200px;
}

.view-icon {
  fill: currentColor;
  width: 32px;
  height: 32px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #fff;
  color: #15141A;
  border: 1px solid #f0f0f4;
}

.view-el[active="true"] .view-icon {
  margin-inline-end: 5px;
}

.view-icon:not([src]) {
  visibility: hidden;
}

.view-el:not([active]) .view-label-container {
  display: none;
}

/**
 * We must supply a min-width here in order for the text inside
 * the domain / title containers to overflow properly.
 * See https://css-tricks.com/flexbox-truncated-text/.
 */
.view-label-container {
  min-width: 0;
}

.view-domain {
  font-size: 1rem;
}

.view-title {
  font-size: 1.08rem;
}

.view-domain,
.view-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view-el:not([active="true"]) > .view-label-container > .view-domain,
.view-el:not([active="true"]) > .view-label-container > .view-title {
  display: none;
}
