/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.view-el {
  display: flex;
  align-items: center;
  justify-content: start;
}

:host(:not([top])[active]) > .view-el {
  width: 200px;
}

.view-el > .view-loading-spinner-container {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  width: 32px;
  height: 32px;
}

:host(:is([top], [active])) > .view-el[busy] > .view-loading-spinner-container {
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  :host(:is([top], [active])) > .view-el:not([pause-animation]) > .view-loading-spinner-container {
    animation: loadingSpinner 0.7s linear infinite;
  }

  :host(:is([top], [active])) > .view-el:not([busy]) > .view-loading-spinner-container {
    transition: opacity 1s var(--animation-easing-function);
  }
}

:host(:is([top], [active])) > .view-el > .view-loading-spinner-container > .view-loading-spinner {
  transform: translateX(-462px);
  animation-iteration-count: 1;
  animation-timing-function: steps(14);
  animation-fill-mode: both;
  animation-duration: .25s;
}

:host(:is([top], [active])) > .view-el[busy] > .view-loading-spinner-container > .view-loading-spinner {
  animation-name: startSpinner;
}

@keyframes loadingSpinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes startSpinner {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-462px);
  }
}

.view-icon-container {
  display: flex;
  fill: currentColor;
  width: 32px;
  height: 32px;
  padding: 4px;
  box-sizing: border-box;
  background-color: #fff;
  color: #15141A;
  border: 1px solid #f0f0f4;
}

.view-icon-container,
.view-icon {
  border-radius: 100px;
}

:host([top][active])) .view-icon-container {
  margin-inline-end: 5px;
}

.view-icon:not([src]) {
  visibility: hidden;
}

:host(:not(:is([top],[active]))) .view-label-container {
  display: none;
}

:host(:is([top],[active])) .view-label-container {
  line-height: 16px;
  white-space: nowrap;
  width: 200px;
}

/**
 * We must supply a min-width here in order for the text inside
 * the domain / title containers to overflow properly.
 * See https://css-tricks.com/flexbox-truncated-text/.
 */
.view-label-container {
  margin-inline: 5px;
  min-width: 0;
}

.view-domain {
  font-size: 1rem;
}

.view-title {
  font-size: 1.08rem;
}

.view-domain-container {
  display: flex;
}

#view-security-icon {
  width: 16px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
}

/* View security icons */
/** TODO: Some icons are borrowed from Firefox and may need replacing when UX provides them **/

#view-security-icon.aboutUI {
  background-image: url(chrome://branding/content/icon16.png);
}

#view-security-icon.localResource {
  background-image: url(chrome://global/skin/icons/page-portrait.svg);
}

#view-security-icon.verifiedDomain {
  background-image: url(chrome://global/skin/icons/security.svg);
}

#view-security-icon.certErrorPage,
#view-security-icon.weakCipher,
#view-security-icon.mixedDisplayContent,
#view-security-icon.mixedDisplayContentLoadedActiveBlocked {
  background-image: url(chrome://global/skin/icons/security-warning.svg);
}

#view-security-icon.httpsOnlyErrorPage,
#view-security-icon.notSecure,
#view-security-icon.mixedActiveContent {
  background-image: url(chrome://global/skin/icons/security-broken.svg);
}

#view-security-icon.unknownIdentity {
  background-image: url(chrome://global/skin/icons/defaultFavicon.svg);
}

/** END View security icons **/

.view-domain,
.view-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view-domain,
.view-history {
  display: flex;
  align-items: center;
  height: 1rem;
}

.view-history > .history {
  display: inline-block;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url("resource://usercontext-content/circle.svg");
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  -moz-context-properties: fill;
  fill: #8F8F9D;
  cursor: pointer;
}

.view-history > .history:focus-visible {
  outline: 1px solid var(--focus-outline-color);
  outline-offset: 1px;
  border-radius: 50%;
}

.view-history > .history:not(:first-of-type) {
  margin-inline-start: 4px;
}

.view-history > .active {
  fill: var(--button-primary-bgcolor);
  background-size: 8px 8px;
  width: 8px;
  height: 8px;
}

.page-action-button[hidden] {
  display: none;
}

@supports not -moz-bool-pref("browser.companion.pageaction.enabled") {
  .page-action-button {
    display: none;
  }
}

.page-action-button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 4px;
  margin-inline: 8px;
}

.page-action-button:hover {
  background-color: #CFCFD8;
}

.page-action-button:active {
  background-color: gray;
}
