/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.view-el {
  display: flex;
  -moz-window-dragging: no-drag;
  align-items: center;
  justify-content: start;
}

:host(:not([top])[active]) > .view-el {
  width: 200px;
}

.view-icon {
  fill: currentColor;
  width: 32px;
  height: 32px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #fff;
  color: #15141A;
  border: 1px solid #f0f0f4;
}

:host([top][active])) .view-icon {
  margin-inline-end: 5px;
}

.view-icon:not([src]) {
  visibility: hidden;
}

:host(:not(:is([top],[active]))) .view-label-container {
  display: none;
}

/**
 * We must supply a min-width here in order for the text inside
 * the domain / title containers to overflow properly.
 * See https://css-tricks.com/flexbox-truncated-text/.
 */
.view-label-container {
  margin-inline: 5px;
  min-width: 0;
}

.view-domain {
  font-size: 1rem;
}

.view-title {
  font-size: 1.08rem;
}

.view-domain,
.view-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view-domain,
.view-history {
  display: flex;
  align-items: center;
  height: 1rem;
}

.view-history > .history {
  display: inline-block;
  background-image: url("resource://usercontext-content/circle.svg");
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  -moz-context-properties: fill;
  fill: #8F8F9D;
  cursor: pointer;
}

.view-history > .history:not(:first-of-type) {
  margin-inline-start: 4px;
}

.view-history > .active {
  fill: var(--button-primary-bgcolor);
  background-size: 8px 8px;
  width: 8px;
  height: 8px;
}

:host(:not(:is([top],[active])) > .view-el > .view-label-container > .view-domain,
:host(:not(:is([top],[active])) > .view-el > .view-label-container > .view-title {
  display: none;
}
