/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.view-el {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  padding: 5px;
}

.view-el:not(.active) {
  align-items: center;
  justify-content: center;
}

.active {
  animation-name: activate;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  width: 200px;
}

@keyframes activate {
  from { border-radius: 50%;}
  to { border-radius: 10px;}
}

.view-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.view-el.active .view-icon {
  margin-inline-end: 5px;
}

.view-icon:not([src]) {
  visibility: hidden;
}

.view-el:not(.active) .view-label-container {
  display: none;
}

/**
 * We must supply a min-width here in order for the text inside
 * the domain / title containers to overflow properly.
 * See https://css-tricks.com/flexbox-truncated-text/.
 */
.view-label-container {
  min-width: 0;
}

.view-domain {
  font-size: 1rem;
}

.view-title {
  font-size: 1.25rem;
}

.view-domain,
.view-title {
  overflow: hidden;
  text-overflow: ellipsis;
  visibility: hidden;
}

.view-el.active > .view-label-container > .view-domain,
.view-el.active > .view-label-container > .view-title {
  visibility: visible;
}
