/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --workspace-background: #F0F0F4;
}

@supports -moz-bool-pref("browser.pinebuild.lavender.enabled") {
  :root {
    --workspace-background: #E8E5F8;
  }
}

#workspace {
  background-color: var(--workspace-background);
  display: flex;
  border-radius: 100px;
}
