/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host(:not([expanded])) button {
  /* FIXME: mega hack to hide labels when not expanded */
  font-size: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto auto auto 1fr auto;
  box-sizing: border-box;
  width: var(--sidebar-launcher-width);
  height: 100%;
  padding: 8px;
  border-right: 1px solid var(--chrome-content-separator-color);
  background-color: var(--toolbar-bgcolor);
  transition: width 100ms;

  :host([expanded]) & {
    width: var(--sidebar-launcher-width-expanded);
  }
}

.add-shortcut {
  border: 1px dashed var(--border-interactive-color);
}

.top-border {
  border-top: 1px solid var(--border-interactive-color);
  padding-top: 4px;
  margin-top: 4px;
}

.actions-list {
  display: flex;
  flex-direction: column;
}

.open-tabs {
  overflow-y: scroll;
  scrollbar-width: none;
}

button {
  background-image: var(--action-icon);
  margin: 0 !important;
  width: 32px !important;
  height: 32px !important;
  font-weight: normal !important;

  :host([expanded]) & {
    background-position: 7px center !important;
    text-align: start !important;
    overflow-x: hidden;
    white-space: nowrap;

    &:not(.close-tab-button) {
      width: 100% !important;
      padding-inline-start: 28px !important;
    }
  }
}

:host([expanded]) .unpinned-tabs .open-tab-wrapper {
  display: grid;
  grid-template-columns: auto 32px;
}

button[selected] {
  box-shadow: var(--card-shadow);
  background-color: var(--in-content-box-background) !important;
  border-color: color-mix(in srgb, currentColor 10%, transparent) !important;
}

button {
  color: var(--toolbar-color) !important;
}
