/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  box-sizing: border-box;
  width: 48px;
  height: 100%;
  padding: 8px;
  border-right: 1px solid var(--sidebar-border-color);
  background-color: var(--sidebar-background-color);
}

.bottom-actions:not([empty]),
.open-tabs {
  border-top: 1px solid var(--border-interactive-color);
  padding-top: 2px;
  margin-top: 2px;
}

.open-tabs {
  overflow-y: scroll;
  scrollbar-width: none;
}

button {
  background-image: var(--action-icon);
  margin: 0 !important;
  width: 32px !important;
  height: 32px !important;
}

button[selected] {
  color: var(--color-accent-primary);
  outline: 1px solid var(--color-accent-primary);
  outline-offset: -1px;
}
