/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host(:not([expanded])) button {
  /* FIXME: mega hack to hide labels when not expanded */
  font-size: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  box-sizing: border-box;
  width: 48px;
  height: 100%;
  padding: 8px;
  border-right: 1px solid var(--sidebar-border-color);
  background-color: var(--sidebar-background-color);
  transition: width 100ms;

  :host([expanded]) & {
    width: 250px;
  }
}

.add-button-wrapper {
  position: sticky;
  top: 0;
  background-color: var(--toolbar-bgcolor);
}

.top-actions > button:last-of-type {
  border: 1px dashed var(--border-interactive-color);
}

.open-tabs {
  border-top: 1px solid var(--border-interactive-color);
  padding-top: 4px;
  margin-top: 4px;
}

.actions-list {
  display: flex;
  flex-direction: column;
}

.open-tabs {
  overflow-y: scroll;
  scrollbar-width: none;
}

button {
  background-image: var(--action-icon);
  margin: 0 !important;
  width: 32px !important;
  height: 32px !important;
  font-weight: normal !important;

  :host([expanded]) .actions-list & {
    background-position: 7px center !important;
    text-align: start !important;
    overflow-x: hidden;
    white-space: nowrap;

    &:not(.close-tab-button) {
      width: 100% !important;
      padding-inline-start: 28px !important;
    }
  }
}

:host([expanded]) .unpinned-tabs .open-tab-wrapper {
  display: grid;
  grid-template-columns: auto 32px;
}

button[selected] {
  color: var(--color-accent-primary);
  outline: 1px solid var(--color-accent-primary);
  outline-offset: -1px;
}
