/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --about-body-background-color: var(--colors-cafe-10);
  --about-footer-background-color: var(--colors-cafe-30);
  --about-text-color: var(--colors-darkgrey-30);
}

#aboutDialogContainer {
  background-color: var(--about-body-background-color);
  color: var(--about-text-color);
}

#clientBox {
  padding: 10px 0 43px;
}

#leftBox {
  background-image: url("chrome://branding/content/about-logo.png");
  background-repeat: no-repeat;
  background-size: 128px auto;
  background-position: center;
  /* min-width and min-height create room for the logo */
  min-width: 210px;
  min-height: 210px;
  margin-top: 20px;
  margin-inline-start: 30px;
}

@media (min-resolution: 2dppx) {
  #leftBox {
    background-image: url("chrome://branding/content/about-logo@2x.png");
  }
}

.text-link {
  color: var(--about-text-color) !important;
  text-decoration: underline;
}

.text-link:-moz-focusring {
  border-color: var(--about-text-color);
}

#rightBox {
  background-size: 156px auto;
  margin-inline: 30px;
  margin-top: 43px;
}

#bottomBox {
  background-color: var(--about-footer-background-color);
  padding: 12px 10px 12px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icons > .noUpdatesFound {
  fill: var(--icon-color-success);
}

#currentChannelText > #currentChannel {
  font-weight: normal;
}
