/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

%ifdef ANDROID
scrollbar, resizer, scrollcorner {
  pointer-events: none;
}
%endif

scrollbar {
  appearance: auto;
  -moz-default-appearance: scrollbar-horizontal;
  cursor: default;
}

scrollbar[orient="vertical"] {
  -moz-default-appearance: scrollbar-vertical;
}

scrollbar[root="true"] {
  position: relative;
  z-index: 2147483647; /* largest positive value of a signed 32-bit integer */
}

@media (-moz-overlay-scrollbars) {
  scrollbar:not([active="true"]),
  scrollbar[disabled="true"] {
    pointer-events: none;
    opacity: 0;
  }
}

slider {
  appearance: auto;
  -moz-default-appearance: scrollbartrack-horizontal;
}

slider[orient="vertical"] {
  appearance: auto;
  -moz-default-appearance: scrollbartrack-vertical;
}

thumb[orient="vertical"] {
  appearance: auto;
  -moz-default-appearance: scrollbarthumb-vertical;
}

thumb[orient="horizontal"] {
  appearance: auto;
  -moz-default-appearance: scrollbarthumb-horizontal;
}

scrollbarbutton[type="increment"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-right;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-down;
}

scrollbarbutton[type="decrement"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-left;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-up;
}

scrollcorner {
  appearance: auto;
  -moz-default-appearance: scrollcorner;
  width: 16px;
  cursor: default;
}

/* Experimental scrollbar styling changes to support pinebuild, which do not
   work in high contrast mode. */
@supports -moz-bool-pref("browser.pinebuild.styleoverrides") {
  @media not (prefers-contrast) {
    /* These styles are pulled directly from the devtools
       floating-scrollbars-responsive-design stylesheet, except the selectors
       are not constrained to the responsive preview window. */
    scrollbar {
      appearance: none !important;
      position: relative;
      background-color: transparent;
      background-image: none;
      padding: 2px;
      border: none;
    }

    scrollbar[orient="vertical"] {
      margin-left: -10px;
      min-width: 10px;
      max-width: 10px;
    }

    scrollbar[orient="horizontal"] {
      margin-top: -10px;
      min-height: 10px;
      max-height: 10px;
    }

    scrollbar slider {
      appearance: none !important;
    }

    scrollbar thumb {
      appearance: none !important;
      background-color: rgba(0, 0, 0, 0.2);
      border-width: 0px !important;
      border-radius: 3px !important;
    }

    scrollbar scrollbarbutton,
    scrollbar gripper {
      display: none;
    }
    /* End of responsive scrollbar styles */

    /* Start of pinebuild scrollbar styling, see MR2-178 for more */
    scrollbar[orient="vertical"] {
      margin-left: -16px;
      min-width: 16px;
      max-width: 16px;
    }

    scrollbar[orient="horizontal"] {
      margin-top: -16px;
      min-height: 16px;
      max-height: 16px;
    }

    thumb[orient="vertical"] {
      min-height: 16px !important;
    }

    thumb[orient="horizontal"] {
      min-width: 16px !important;
    }

    scrollbar thumb {
      opacity: 0.5 !important;
      border: 1px solid white;
      border-radius: 0 !important;
      background-color: #7F7F7F !important;
    }
    /* End of pinebuild scrollbar styling */
  }
}
