<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy"
        content="default-src chrome:; object-src 'none'; img-src http: https: data: chrome:;">
  <link rel="stylesheet" type="text/css"
        href="chrome://global/skin/in-content/common.css">
  <link rel="stylesheet" type="text/css"
        href="chrome://browser/content/imagetools/imagetools.css">
  <link rel="localization" href="branding/brand.ftl">
  <link rel="localization" href="preview/imagetools.ftl">
  <script type="module" src="chrome://browser/content/imagetools/imagetools.mjs"></script>
  <title>Image Tools</title>
</head>
<body>
  <div class="imageTools">
    <div class="imageToolsImage">
      <canvas></canvas>
      <div class="imageToolsTextClusters"></div>
    </div>
    <div class="imageToolsSidebar">
      <section class="imageToolsName"></section>
      <hr>
      <section class="imageToolsTextLoading">
        <span class="imageToolsThrobber"></span>
        <span>Searching image for text…</span>
      </section>
      <section class="imageToolsText"></section>
      <hr>
      <footer>
        <section class="imageToolsButtons">
          <button type="button" id="image-tools-cancel">Cancel</button>
          <button type="button" id="image-tools-copy" class="primary">Copy all text</button>
        </section>
      </footer>
    </div>
  </div>
</body>
</html>
