/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

 .overlay {
  position: fixed;
  z-index: 1;
  inset: 0;
  display: flex;
}

:host(:not(.in-companion)) .overlay {
  /* TODO: this color is used in the about:preferences overlay, but
           why isn't it declared as a variable? */
  background-color: rgba(0,0,0,0.5);
}

.container {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 500px;
  min-height: 200px;
  margin: auto;
  background: var(--in-content-page-background);
  color: var(--in-content-page-color);
  box-shadow: var(--shadow-30);
  /* show a border in high contrast mode */
  outline: 1px solid transparent;
}

:host(:not(.in-companion)) .container {
  min-height: 200px;
  background: var(--in-content-page-background);
}

:host(.in-companion) .container {
  min-height: 300px;
  background: var(--in-content-box-background);
  margin-top: 80px;
  margin-inline: 16px;
  width: 100%;
  border: 0.5px solid var(--in-content-box-border-color);
  border-radius: 4px;
}

.title {
  font-size: 1.5em;
  font-weight: normal;
  user-select: none;
  margin: 0;
}

:host(.in-companion) .title {
  font-size: 0.95em;
  font-weight: 700;
}

.message {
  color: var(--in-content-deemphasized-text);
  margin-bottom: 0;
}

:host(.in-companion) .message {
  margin-block-start: 8px;
  font-size: 0.8em;
}

.dismiss-button {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  min-width: 20px;
  min-height: 20px;
  margin: 16px;
  padding: 0;
  line-height: 0;
}

:host(.in-companion) .dismiss-button {
visibility: hidden;
}

.dismiss-icon {
  -moz-context-properties: fill;
  fill: currentColor;
}

.warning-icon {
  -moz-context-properties: fill;
  fill: currentColor;
  width: 40px;
  height: 40px;
  margin: 16px;
}

:host(.in-companion) .warning-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 22px;
}

:host(.in-companion) .content {
  margin-block: 65px;
  padding-bottom: ;
  padding-block: 0;
}

.content,
.buttons {
  text-align: center;
  padding: 16px 32px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

:host(.in-companion) .buttons {
  padding: 0;
  margin-inline: 10px;
}

.buttons.macosx > .confirm-button {
  order: 1;
}

:host(:not(.in-companion)) .buttons > button {
  min-width: 140px;
}

:host(.in-companion) .confirm-button {
  width: 50%;
}

:host(.in-companion) .cancel-button {
  width: 50%;
}
