/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  border-inline-end: 1px solid var(--in-content-border-color);
  background-color: var(--in-content-box-background);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.meta {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  border-bottom: 1px solid var(--in-content-border-color);
  background-color: var(--in-content-box-background);
  color: var(--in-content-deemphasized-text);
  font-size: 0.8em;
}

.meta > label > span {
  margin-inline-end: 2px;
}

#login-sort {
  background-color: transparent;
  margin: 0;
  padding-inline: 0 16px;
  min-height: initial;
  font: inherit;
  font-weight: 600;
  color: var(--in-content-text-color) !important;
}

#login-sort:hover:not([disabled]) {
  background-color: var(--in-content-button-background);
}

#login-sort > option {
  font-weight: normal;
}

.count {
  flex-grow: 1;
  text-align: end;
  margin-inline-start: 18px;
}

.container {
  display: contents;
}

:host(.in-companion) .container {
  overflow: hidden;
}

:host(.no-logins) .empty-search-message,
:host(:not(.empty-search)) .empty-search-message,
:host(.empty-search:not(.create-login-selected)) ol,
:host(.no-logins:not(.create-login-selected)) ol,
:host(:not(.no-logins)) .intro,
:host(.create-login-selected) .intro,
:host(.create-login-selected) .empty-search-message {
  display: none;
}

:host(:not(.initialized)) .count,
:host(:not(.initialized)) .empty-search-message {
  visibility: hidden;
}

:host(.in-companion) {
  height: 100%;
}

:host(.editing) {
  display: none;
}

.empty-search-message,
.intro {
  text-align: center;
  padding: 1em;
  max-width: 50ch; /* This should be kept in sync with login-list-item username and title max-width */
  flex-grow: 1;
  border-bottom: 1px solid var(--in-content-border-color);
}

.empty-search-message span,
.intro span {
  font-size: 0.85em;
}

ol {
  margin-block: 0;
  padding-inline-start: 0;
  overflow: hidden auto;
  flex-grow: 1;
  scroll-padding-top: 24px; /* there is the section header that is sticky to the top */
}

:host(.in-companion) ol {
  margin-block: 0 1em;
}

.create-login-button {
  margin: 16px;
}

.create-login-button-container {
  border-top: 1px solid var(--in-content-border-color);
  display: flex;
  flex-direction: column;
}

.login-list-item {
  display: flex;
  align-items: center;
  padding-block: 10px;
  padding-inline: 12px 18px;
  border-inline-start: 4px solid transparent;
  user-select: none;
}

.login-list-header {
  display: block;
  position: sticky;
  top: 0;
  font-size: .85em;
  font-weight: 600;
  padding: 4px 16px;
  border-bottom: 1px solid var(--in-content-border-color);
  background-color: var(--in-content-box-background);
}

:not([hidden]) + .login-list-section,
.login-list-item + .login-list-item {
  border-top: 1px solid var(--in-content-border-color);
}

@media (-moz-proton) {
.login-list-item:not(.selected):hover {
  background-color: var(--in-content-button-background-hover);
  color: var(--in-content-button-text-color-hover);
}

.login-list-item:not(.selected):hover:active {
  background-color: var(--in-content-button-background-active);
}
} /*** END proton ***/

.login-list-item.keyboard-selected {
  border-inline-start-color: var(--in-content-border-color);
  background-color: var(--in-content-button-background-hover);
}

.login-list-item.selected {
  border-inline-start-color: var(--in-content-accent-color);
  background-color: var(--in-content-page-background);
}

.login-list-item.popupShowing {
  background-color: var(--in-content-button-background-hover);
  color: var(--in-content-button-text-color-hover);
}

.login-list-item.selected .title {
  font-weight: 600;
}

.labels {
  flex-grow: 1;
  overflow: hidden;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title,
.username {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.favicon-wrapper {
  height: 16px;
  width: 16px;
  background-image: url("chrome://global/skin/icons/defaultFavicon.svg");
  background-repeat: no-repeat;
  margin-inline-end: 12px;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 0.8;
}

.favicon-wrapper.hide-default-favicon {
  background-image: none;
}

.favicon {
  width: 16px;
}

:host(.in-companion) .favicon {
  width: 24px;
}

.username {
  font-size: 0.85em;
  color: var(--in-content-deemphasized-text);
}

.alert-icon {
  min-width: 16px;
  width: 16px;
  margin-inline-start: 12px;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 0.75;
}

@media not (prefers-contrast) {
  .breached > .alert-icon {
    fill: var(--red-60);
    fill-opacity: 1;
  }
}

:host(.in-companion) .create-login-button-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--in-content-box-background);
}

:host(.in-companion) .create-login-button {
  margin-block: 23.5px 28px;
  font-size: 11px;
  width: 13em;
  margin-inline: auto;
}

:host(.in-companion) .meta > label {
  display: flex;
}

:host(.in-companion) .meta > label > span {
  margin-block: 8px;
}

:host(.in-companion) .meta {
  border-bottom: 1px solid #F0F0F4;
  margin-bottom: 12px;
}

:host(.in-companion) #login-sort {
  right: 0;
  position: absolute;
  margin-inline-end: 8px;
}

:host(.in-companion) .count {
  display: none;
}

:host(.in-companion) .favicon-wrapper {
  background-color: #F9F9FB;
  border-radius: 4px;
  background-origin: content-box;
  padding: 8px;
  height: 24px;
  width: 24px;
  background-size: cover;
  margin-inline-end: 4px;
}

:host(.in-companion) .login-list-item:hover .favicon-wrapper {
  background-color: #F0F0F4;
}

:host(.in-companion) .favicon-wrapper .favicon[src=""] {
  visibility: hidden;
}

:host(.in-companion) .login-list-item.selected .title {
    font-weight: normal;
}

:host(.in-companion) .login-list-item {
  padding: 4px;
  margin: 1em;
  border-radius: 8px;
  border-inline-start: none;
  background-color: #F9F9FB;
  box-sizing: border-box;
  border: 0.5px solid #CFCFD8;
}

:host(.in-companion) .login-list-item:first-child {
  margin-top: 0;
}

:host(.in-companion) menuitem:hover {
  background-color: var(--in-content-button-background-hover);
  color: var(--in-content-button-text-color-hover);
}

:host(.in-companion) .login-list-item:hover {
  background: #F0F0F4;
  border-color: #AFAFBA;
}

:host(.in-companion.create-login-selected) {
  display: none;
}

.more-dropdown {
  visibility: hidden;
}

:host(.in-companion) .more-dropdown {
  min-width: unset;
  min-height: unset;
  height: 24px;
  width: 24px;
  padding-inline: 12px;
  border: none;
}

.login-list-item.popupShowing .more-dropdown,
:host(.in-companion) .login-list-item:hover .more-dropdown {
  visibility: visible;
  background-image: url("chrome://global/skin/icons/more.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 24px;
  cursor: pointer;
}


:host(.in-companion) .login-list-item:hover .more-dropdown {
  background-color: #FFFFFF;
}

:host(.in-companion) .login-list-item:hover .more-dropdown:hover {
  background-color: #CFCFD8;
}

:host(.in-companion.popupShowing) .login-list-item:not(.popupShowing):hover .more-dropdown {
  visibility: hidden;
}

:host(.in-companion.popupShowing) .login-list-item:not(.popupShowing):hover {
  background-color: var(--in-content-box-background);
}

.more-dropdown-container {
  position: relative;
  display: grid;
}

:host(:not(.in-companion)) .more-dropdown-container {
  display: none;
}

menupopup {
  position: absolute;
  background: var(--in-content-page-background);
  margin-top: 24px;
  right: 0;
  width: 126px;
  box-shadow: 0px 2px 14px rgba(58, 57, 68, 0.2);
  border-radius: 4px;
  padding-block: 4px;
  outline: 1px solid var(--in-content-border-color);
  visibility: hidden;
  z-index: 1;
}

panel {
  visibility: hidden;
}

:host(.in-companion) menupopup.popupShowing {
  visibility: visible;
}

menuitem {
  width: calc(100% - 2 * 12px);
  padding-inline: 12px;
  font-size: 12px;
  height: 28px;
  display: inline-block;
  line-height: 28px;
}
