/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * UrlbarProviderTabToSearch
 */

.urlbarView-row[dynamicType=onboardTabToSearch] > .urlbarView-row-inner {
  min-height: 64px !important; /* Overriding :root:not([uidensity=compact]) .urlbarView-row-inner { min-height } in urlbarView.inc.css */
  align-items: center;
  width: 100%;
}

.urlbarView-row[dynamicType=onboardTabToSearch] > .urlbarView-row-inner > .urlbarView-no-wrap {
  align-items: center;
}

.urlbarView-row[dynamicType=onboardTabToSearch]:hover > .urlbarView-row-inner {
  background-color: var(--arrowpanel-dimmed);
}

.urlbarView-row[dynamicType=onboardTabToSearch] > .urlbarView-row-inner[selected] {
  background: var(--autocomplete-popup-highlight-background);
  color: var(--autocomplete-popup-highlight-color);
  fill-opacity: 1;
}

/* Icon */
.urlbarView-row[dynamicType=onboardTabToSearch] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-favicon {
  min-width: 32px;
  height: 32px;
  color: var(--urlbar-popup-url-color);
  -moz-context-properties: fill;
}

.urlbarView-row[dynamicType=onboardTabToSearch] > .urlbarView-row-inner[selected] > .urlbarView-no-wrap > .urlbarView-favicon {
  color: inherit;
}

.urlbarView-dynamic-onboardTabToSearch-text-container {
  display: flex;
  flex-direction: column;
}

/* First row of text. */
.urlbarView-dynamic-onboardTabToSearch-first-row-container {
  display: flex;
  align-items: end;
}
.urlbarView-results[wrap] > .urlbarView-row[dynamicType=onboardTabToSearch] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-dynamic-onboardTabToSearch-text-container > .urlbarView-dynamic-onboardTabToSearch-first-row-container {
  flex-wrap: wrap;
}
.urlbarView-results[wrap] > .urlbarView-row[dynamicType=onboardTabToSearch] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-dynamic-onboardTabToSearch-text-container > .urlbarView-dynamic-onboardTabToSearch-first-row-container > * {
  max-width: 100%;
  flex-basis: 100%;
}
.urlbarView-results[wrap] > .urlbarView-row[dynamicType=onboardTabToSearch] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-dynamic-onboardTabToSearch-text-container > .urlbarView-dynamic-onboardTabToSearch-first-row-container > .urlbarView-title-separator {
  visibility: collapse;
}
.urlbarView-row[dynamicType=onboardTabToSearch] > .urlbarView-row-inner[selected] > .urlbarView-no-wrap > .urlbarView-dynamic-onboardTabToSearch-text-container > .urlbarView-dynamic-onboardTabToSearch-first-row-container > .urlbarView-action {
  color: var(--autocomplete-popup-highlight-color);
}
@media (prefers-reduced-motion: no-preference) {
  .urlbarView-results:not([wrap]) > .urlbarView-row > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-dynamic-onboardTabToSearch-text-container > .urlbarView-dynamic-onboardTabToSearch-first-row-container > .urlbarView-action[slide-in] {
    animation-name: urlbarView-action-slide-in;
    animation-duration: 350ms;
    animation-timing-function: var(--animation-easing-function);
  }
}

/* Description text. */
.urlbarView-dynamic-onboardTabToSearch-description {
  margin-block-start: 2px;
}
.urlbarView-results[wrap] > .urlbarView-row[dynamicType=onboardTabToSearch] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-dynamic-onboardTabToSearch-text-container > .urlbarView-dynamic-onboardTabToSearch-description {
  max-width: 100%;
  flex-basis: 100%;
}
.urlbarView-row[dynamicType=onboardTabToSearch] > .urlbarView-row-inner:not([selected]) > .urlbarView-no-wrap > .urlbarView-dynamic-onboardTabToSearch-text-container > .urlbarView-dynamic-onboardTabToSearch-description {
  opacity: 0.6;
}

/* CSS for Calculator */
.urlbarView-row[dynamicType=calculator] > .urlbarView-row-inner[selected] {
  background-color: var(--autocomplete-popup-highlight-background);
  color: var(--autocomplete-popup-highlight-color);
}

.urlbarView-row[dynamicType=calculator] > .urlbarView-row-inner:hover {
  background: var(--arrowpanel-dimmed);
}

.urlbarView-dynamic-calculator-action {
  font-size: .85em;
  font-weight: normal;
  visibility: collapse;
}

.urlbarView-row[dynamicType=calculator] > .urlbarView-row-inner:hover .urlbarView-dynamic-calculator-action,
.urlbarView-row[dynamicType=calculator] > .urlbarView-row-inner[selected] .urlbarView-dynamic-calculator-action {
  visibility: visible;
}

.urlbarView-dynamic-calculator-action::before {
  content: "\2014";
  margin: 0 .4em;
  opacity: 0.6;
}

/** UrlbarProviderUnitConversion **/
.urlbarView-row[dynamicType=unitConversion] > .urlbarView-row-inner:hover {
  background: var(--autocomplete-popup-hover-background);
}

.urlbarView-row[dynamicType=unitConversion] > .urlbarView-row-inner[selected] {
  background: var(--autocomplete-popup-highlight-background);
  color: var(--autocomplete-popup-highlight-color);
  fill-opacity: 1;
}

.urlbarView-dynamic-unitConversion-action {
	font-size: .85em;
	font-weight: normal;
	visibility: collapse;
}

.urlbarView-dynamic-unitConversion-action::before {
	content: "\2014";
	margin: 0 .4em;
	opacity: 0.6;
}

.urlbarView-row[dynamicType=unitConversion] > .urlbarView-row-inner:hover .urlbarView-dynamic-unitConversion-action,
.urlbarView-row[dynamicType=unitConversion] > .urlbarView-row-inner[selected] .urlbarView-dynamic-unitConversion-action {
	visibility: visible;
}

.urlbarView-row[dynamicType=unitConversion] > .urlbarView-row-inner:hover .urlbarView-dynamic-unitConversion-action {
	color: var(--urlbar-popup-action-color);
}

.urlbarView-row[dynamicType=unitConversion] > .urlbarView-row-inner[selected] .urlbarView-dynamic-unitConversion-action {
  color: var(--autocomplete-popup-highlight-color);
}

/*
 * This section is for urlbar quick actions.
 */

.urlbarView-row[dynamicType=quickActions] > .urlbarView-row-inner {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  height: 42px;
}

.urlbarView-row[dynamicType=quickActions] .urlbarView-quickaction-row {
  background: rgba(255, 255, 255, .1);
  border-radius: 8px;
  margin-inline-end: 1em;
  margin-block-end: 1em;
  display: flex;
  align-items: center;
  padding: 6px;
  border: .5px solid rgba(207,207,216, .6);
  margin-top: 2px;
}

.urlbarView-row[dynamicType=quickActions] .urlbarView-label {
  font-size: 11px;
  font-weight: 500;
}

.urlbarView-row[dynamicType=quickActions] .urlbarView-title {
  font-weight: 400;
  font-size: 10px;
  color: #5B5B66;
}

.urlbarView-row[dynamicType=quickActions] .urlbarView-favicon {
  width: 30px;
  height: 30px;
  border: 1px solid #E0E0E6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.urlbarView-row[dynamicType=quickActions] .urlbarView-favicon-img {
  width: 20px;
  height: 20px;
}

.urlbarView-row[dynamicType=quickActions][label]::before {
  top: -1em;
  margin-inline-start: 12px;
}

.urlbarView-row[dynamicType=topSitesButtons] .urlbarView-favicon {
  width: 32px;
  height: 32px;
  padding: 8px;
  background: var(--arrowpanel-background);
  margin-inline-end: 0;
  border-radius: 50%;
  border: .5px solid transparent;
  margin-block-end: 5px;
}

.urlbarView-row:not([dynamicType=topSitesButtons]):not([dynamicType=quickActions]) {
  margin-inline: calc(5px + var(--urlbar-container-padding));
}

.urlbarView-row[dynamicType=topSitesButtons] {
  background-color: #F9F9FB;
  height: 80px;
  overflow: hidden;
  padding-block: .5em;
}

.urlbarView-row[dynamicType=quickActions] .urlbarView-badge {
  overflow: hidden;
  white-space: nowrap;
  background-color: #FF0000;
  font-size: 8px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  height: 12px;
  min-width: 6px;
  position: absolute;
  margin-inline-start: 22px;
  margin-top: -22px;
  padding-inline: 3px;
}

.urlbarView-row[dynamicType=topSitesButtons] .urlbarView-topsitesbutton-row {
  width: 52px;
  height: 70px;
  display: flex;
  flex-direction: column;
}

.urlbarView-row[dynamicType=quickActions] [role="button"]:hover,
.urlbarView-row[dynamicType=topSitesButtons] [role="button"]:hover {
  cursor: pointer;
}

.urlbarView-row[dynamicType=quickActions] .urlbarView-quickaction-row:hover,
.urlbarView-row[dynamicType=topSitesButtons] [role="button"]:hover .urlbarView-favicon {
  border: .5px solid #CFCFD8;
}

.urlbarView-row[dynamicType=topSitesButtons] .urlbarView-topsitesbutton-row[selected] .urlbarView-favicon,
.urlbarView-row[dynamicType=quickActions] .urlbarView-quickaction-row[selected] {
  background-color: var(--autocomplete-popup-highlight-background);
}

.urlbarView-row[dynamicType=quickActions] .urlbarView-quickaction-row[hidden],
.urlbarView-row[dynamicType=topSitesButtons] .urlbarView-topsitesbutton-row[hidden] {
  display: none;
}

.urlbarView-row[dynamicType=topSitesButtons] > .urlbarView-row-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  margin-inline: 20px;
}

.urlbarView-row[dynamicType=topSitesButtons] .urlbarView-title {
  text-align: center;
  font-size: 10px;
  text-overflow: ellipsis;
}

.urlbarView-row[dynamicType=quickActions] .urlbarView-title,
.urlbarView-row[dynamicType=quickActions] .urlbarView-label {
  display: flex
}
