/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.translations-panel {
  font: menu;
}

.translations-panel-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 9px;
  width: 400px;
}

#translations-panel-settings.panel-info-button > image {
  /* Override the panel-info-button with a gear icon. */
  list-style-image: url(chrome://global/skin/icons/settings.svg);
}
